{{extend 'layout_institutional.html'}}

{{block navbar}}

    {{include 'navbar-2.html'}}

{{end}}


{{block header}}

	
{{end}}

{{block content}}

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h1 class="text-center bold">Programa de Conocimientos Intelectuales<h1>
				<h2 class="text-left bold">Comprenden áreas de Lengua, Geografía, Historia y Aptitud Física.</h2>
				<h3>Área Lengua - Año 2018</h3>
				<ul>
					<li>Eje temático Nº1: El texto como unidad de la comunicación.</li>
						<ul>
							<li><p>La Comunicación: Circuito de la comunicación. Variedades lingüísticas: Lectos y registros. Funciones del lenguaje y tramas de los textos. El texto. Autonomía de texto. Propiedades de los textos. Coherencia (selección del contenido informativo y organización de la información)- Cohesión (léxica: repetición-sustitución-campo semántico/ gramatical: referencia-elipsis-conexión conectores y relación que establecen)- Adecuación.</p></li>
						</ul>
					<li>Eje temático Nº2: Tipos textuales… Convenciones sociales</li>
						<ul>
							<li>Caracterización de los tipos textuales: Narrativo- Descriptivo- Expositivo-explicativo- Argumentativo- Instruccional- Dialogal.
							<li>Superestructuras: propósito comunicativo de los textos. Secuencias o tramas textuales.</li>
							<li>Funciones del lenguaje: informativa- expresiva- literaria- apelativa.</li>
							<li>Modos y tiempos verbales requeridos en cada modalidad textual. Verbos irregulares.</li>
							<li>Reglas ortográficas. Acentuación y puntuación.</li>
						</ul>
					<li>Eje temático Nº3: Textos sociales: Discursos periodístico, expositivo-explicativo, argumentativo y narración literaria.</li>
						<ul>
							<li>La noticia y la crónica. Concepto, características, trama textual y función del lenguaje predominante. Organización de la información. Preguntas claves en la información. Semejanzas y diferencias entre ambas.</li>
							<li>La explicación. Origen de la explicación. Las preguntas. Estructura (problema, preguntas, respuesta expositiva, consideración del destinatario. Recursos expositivos). Recursos explicativos: definición-Ejemplificación-Reformulación-Comparación</li>
							<li>La argumentación: Estructura argumentativa. Esquema argumentativo (exordio- narración de hechos-epílogo) Procedimientos argumentativos.</li>
							<li>El cuento policial: Concepto. Origen. Características.</li>
						</ul>
				</ul>
				<h3>Criterio de evaluación</h3>
				<ol>
					<li>Comprensión y producción</li>
					<li>Ortografía</li>
					<li>Normativa</li>
				</ol>
				<h3>Bibliografía</h3>
				<ul>
					<li>Lengua y literatura 1° Polimodal. Editorial Tinta Fresca.</li>
					<li>Lengua y literatura 1° Polimodal. Editorial AZ.</li>
					<li>¿Cómo se escribe? 7-8-9. Editorial Kapeluz. Alicia Coquet.</li>
					<li>Lengua y literatura 1 -Carlos Loprete- Editorial Plus Ultra - 1993</li>
				</ul>
				<h3>PROGRAMA AUTORIZADO POR EL RECTORADO DEL IESP "G.J.F.S.M."</h3>

				<p>OBS: LA INSTITUCIÓN LES HACE CONOCER A LOS POSTULANTES A ASPIRANTES A CADETES DEL CICLO LECTIVO 2018, QUE LA MISMA NO DESARROLLA, NI EMITE EL CONTENIDO DE LOS PROGRAMAS DE CONOCIMIENTOS INTELECTUALES QUE COMPRENDEN LAS ÁREAS DE LENGUA, GEOGRAFÍA, HISTORIA Y APTITUD FÍSICA.</p>

			</div><!-- end col -->

		</div><!-- end row -->

		<div class="row">
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h3>Área Geografía - Año 2018</h3>
				<ol>
					<li>Presentación de La República Argentina: Localización – límites – superficie – puntos extremos – forma – posición relativa – división política – La formación del Estado Argentino.</li>
					<li>La Organización Política de Argentina: Concepto de: Estado, territorio, soberanía, gobierno y límites. Formas de organización del Estado: el régimen federal Argentino – los niveles de gobierno (nacional, provincial y municipal) y sus atribuciones – La ciudad Autónoma de Buenos Aires.</li>
					<li>Espacio, Sociedad y Naturaleza: Los Grandes conjuntos del relieve argentino (montañas – mesetas y llanuras) – Condiciones hidrográficas de Argentina: disponibilidad hídrica – Las cuencas hidrográficas – El clima y el tiempo- elementos que componen el clima y factores que lo modifican en nuestro país – La regionalización del INDEC – Los recursos naturales: concepto, clasificación y disponibilidad – El agua un recurso vital: el acuífero Guaraní.</li>
					<li>La Población Argentina: Dinámica demográfica – estructura y distribución de la población – densidad – movimientos migratorios – información demográfica (censo 2010) y pirámides de población – La población económicamente activa – el envejecimiento poblacional.</li>
					<li>Argentina y el Mundo Global: El consenso de Washington, su aplicación en Argentina – Consecuencias territoriales y económicas de la globalización – Los Bloques Regionales: Mercosur y sus asimetrías – La UNASUR.</li>
				</ol>
				<h3>Bibliografía</h3>
				
				<ul>
					<li>“GEOGRAFÍA DE LA ARGENTINA” – Echeverría M y Capuz S - Editorial AZ - Serie de Plata – (2009).</li>
					<li>“UNA GEOGRAFÍA DE LA ARGENTINA PARA PENSAR”- Editorial Kapelusz -(2009).</li>
					<li>“GEOGRAFÍA DE LA REPÚBLICA ARGENTINA” - Editorial SM – Serie Conectar 2.0 – (2012)</li>
				</ul>
				
				<h3>PROGRAMA AUTORIZADO POR EL RECTORADO DEL IESP "G.J.F.S.M."</h3>
				<p>OBS: LA INSTITUCIÓN LES HACE CONOCER A LOS POSTULANTES A ASPIRANTES A CADETES DEL CICLO LECTIVO 2018, QUE LA MISMA NO DESARROLLA, NI EMITE EL CONTENIDO DE LOS PROGRAMAS DE CONOCIMIENTOS INTELECTUALES QUE COMPRENDEN LAS ÁREAS DE LENGUA, GEOGRAFÍA, HISTORIA Y APTITUD FÍSICA.</p>

			</div><!-- end col-* -->
		</div><!-- end row -->

		<div class="row">
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h3>Área de Historia - Año 2018</h3>
				<ul>
					<li>
						<h4>UNIDAD 1: “DE LA REVOLUCION EN EL RIO DE LA PLATA A LA ETAPA DE LAS AUTONOMÍAS PROVINCIALES (1810-1829)”.</h4>
						<ul>
							<li>Situación política en Europa. Crisis de la monarquía española y cese de la autoridad virreinal. Cabildo Abierto de Buenos Aires. La Primera Junta. El comienzo de la guerra de revolución. La Asamblea del año XIII.</li>
							<li>Contexto político Europeo para 1815. Congreso General Constituyente de Tucumán. La cuestión de la Independencia. Constitución de 1819 y caída del Directorio.</li>
							<li>Crisis de 1820. Distintos proyectos políticos: Unitarios y Federales. La etapa de las autonomías provinciales. Cambios en las sociales, culturales y políticos en las provincias Unidas.</li>
						</ul>
					</li>

					<li>
						<h4>UNIDAD 2: “DE LA CONFEDERACION ROSISTA A LA REUNIFICACIÓN DEL PAÍS (1829-1861)”.</h4>
						<ul>
							<li>El primer gobierno de Rosas. Las facultades extraordinarias y la lucha contra los unitarios. La Confederación Rosista. Segundo gobierno. Aliados y opositores. La alianza antirrosista. El pronunciamiento de Urquiza. El fin de la confederación. Acuerdo de San Nicolás. Constitución de 1853. Posición de Buenos Aires</li>
							<li>El Estado de Buenos Aires versus La Confederación Argentina, diferencias económicas y políticas. Los intentos de reunificación. El triunfo de Bartolomé Mitre.</li>
						</ul>
					</li>

					<li>
						<h4>UNIDAD 3: “LA ORGANIZACIÓN DEL ESTADO NACIONAL AL ORDEN CONVERVADOR. (1861-1912).”</h4>
						<ul>
							<li>La organización del Estado Nacional. Las presidencias liberales: Mitre, Sarmiento y Avellaneda. Resistencias y limitaciones frente al avance del estado. Sistema electoral y fraude. El modelo Agroexportador como proceso de inserción al mercado mundial, la inmigración extranjera y la cuestión social. Conquista del desierto, fundamentos ideológicos, posturas y consecuencias.</li>
							<li>El orden conservador. Características socio-política-económica. El proyecto cultural de la Generación del 80. El P.A.N proceso de laicización del Estado Nacional: Ley de educación 1420 y la Ley de Registro Civil. Oposición al P.A.N. El 90 y el surgimiento de la UCR.</li>
						</ul>
					</li>
					<li>
						<h4>UNIDAD 4: “DE LAS PRESIDENCIAS RADICALES A LA DECADA INFAME (1916-1943).</h4>
						<ul>
							<li>Reforma electoral y la llegada del radicalismo al gobierno. Primera presidencia de Yrigoyen, La reforma universitaria. Los conflictos sociales: La semana trágica y la Patagonia rebelde. Presidencia de Alvear. Cambios de los modos de hacer política y en cuestiones económicas. División de la UCR. Segunda presidencia de Yrigoyen. La crisis de 1929 y su impacto en la política local. El golpe de 1930.</li>
							<li>La década infame. Definición y características. El proceso de industrialización por sustitución de importaciones. Las migraciones internas. Posición frente a la 2da guerra mundial. El golpe de estado de 1943.</li>
						</ul>
					</li>
					<li>
						<h4>UNIDAD 5: “EL PERONISMO Y ANTIPERONISMO A MEDIADOS DEL SIGLO XX (1943-1973)</h4>
						<ul>
							<li>Reformas laborales promovidas por Perón. El 17 de octubre y la aparición del peronismo. Política social e industrial durante la primera presidencia de Perón. La constitución del 49. La segunda presidencia de Perón y los límites a la industrialización. Conflicto con la iglesia católica.</li>
							<li>La revolución libertadora. Violencia, proscripción y autoritarismo, Cambios culturales en la Década del 60.</li>
							<li>La democracia tutelada por el ejército. El proyecto desarrollista truncado por Arturo Frondizi. Las presiones militares. El gobierno de Arturo Illía. La revolución Argentina. Resistencias sociales. El retorno de Perón.</li>
						</ul>
					</li>
					<li>
						<h4>UNIDAD 6: “DICTADURA MILITAR Y TERRORISMO DE ESTADO (1973-1983)”</h4>
						<ul>
							<li>Retirada militar y retorno peronista. Del “Cámpora al gobierno, Perón al poder” a la tercera presidencia de Perón. El seguimiento de la lucha armada de grupos de extrema derecha e izquierda. Muerte de Perón y breve presidencia de María Estela Martínez de Perón. El “Operativo Independencia”. El golpe de Estado de 1976. Represión y resistencia. Los desaparecidos y el Estado Terrorista. La guerra de Malvinas y la retirada militar.</li>
						</ul>
					</li>
					<li>
						<h4>UNIDAD 7 : “DE LA RECUPERACION DE LA DEMOCRACIA A LA CRISIS DEL 2001”</h4>
						<ul>
							<li>El retorno a la democracia. Alfonsín. Del juicio de la Juntas a los levantamientos carapintadas. Oposición sindical y peronismo. La hiperinflación.</li>
							<li>Las presidencias de Carlos Menem. Plan de estabilización y política “1 a 1”. Las privatizaciones y las recetas del FMI. Reforma constitucional y reelección. El retroceso del estado de bienestar y las políticas neoliberales. La desindustrialización y el dólar barato.</li>
							<li>El gobierno de la alianza. Cortocircuito dentro de la alianza. Crisis social y económica. Corralito y la debacle del 2001.</li>
						</ul>
					</li>
				</ul>
				<h4>Bibliografia</h4>
				<ul>
					<li>Historia. La Argentina Contemporánea. Editorial Aique Polimodal.</li>
					<li>Historia. La Argentina Contemporánea. Editorial Puerto de Palos.</li>
					<li>Historia. La Argentina Contemporánea. Serie Polimodal. Editorial A-Z.</li>
					<li>Historia. La Argentina Contemporánea. Edit. Estrada Polimodal.</li>
					<li>El libro de la Sociedad 9. Edit. Estrada.</li>
					<li>Historia Argentina. Edit. Santillana Secundaria.</li>
					<li>Historia Argentina Contemporánea Activa Polimodal. Editorial Purto de Palos.</li>
					<li>Autores varios. Historia Argentina y el mundo. La primera mitad del siglo XX, Editorial Santillana, BsAs 2011.</li>
					<li>Juan Bustinza y Alicia Grieco y Bravio. Contemporaneidad, Argentina y el Mundo. Editorial A-Z. BsAs, 1998.</li>
					<li>Historia Argentina. Edit. Santillana Secundaria.</li>
					<li>Raul Frandkin (coordinador). Historia Argentina. Siglos XVIII, XIX, XX, editorial Estrada BsAs 2000.</li>
				</ul>

				<h4>PROGRAMA AUTORIZADO POR EL RECTORADO DEL IESP "G.J.F.S.M."</h4>
				<p>OBS: LA INSTITUCIÓN LES HACE CONOCER A LOS POSTULANTES A ASPIRANTES A CADETES DEL CICLO LECTIVO 2018, QUE LA MISMA NO DESARROLLA, NI EMITE EL CONTENIDO DE LOS PROGRAMAS DE CONOCIMIENTOS INTELECTUALES QUE COMPRENDEN LAS ÁREAS DE LENGUA, GEOGRAFÍA, HISTORIA Y APTITUD FÍSICA.</p>
			</div><!-- end of col-md-* -->
		</div><!-- end of row -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h4>EXAMEN DE APTITUD FÍSICA 2018</h4>
				<ol>
					<li>
						<h4>FUERZA FLEXORA DE TRONCO (ABDOMINALES)</h4>
						<p>OBJETIVO: Evaluar la "capacidad de trabajo" de la musculatura flexora del tronco.</p>
						<p>DURACIÓN: Un (1) minuto para varones y mujeres.-</p>
						<p>EJECUCIÓN: de cubito dorsal, piernas flexionadas, plantas de los pies apoyadas en el piso. Los dedos de las manos entrelazados por detrás de la nuca, antebrazos paralelos a la línea de las orejas y pegados a la cabeza a la altura de la sien (por encima de las orejas). Un compañero sentado sobre los empeines del ejecutante y tomado con ambas manos la cara posterior de las piernas (pantorrillas). Se deberá ejecutar una flexión de manera que los codos lleguen a tocar el muslo y regresar a la posición de acostado, de manera que las escápulas lleguen ambas a tocar el piso.</p>
						<ul>
							<li>No deberá despegar la cadera del piso en ningun momento.</li>
							<li>No deberá impulsarse con los codos, brazos, debiendo ambos permanecer siempre pegados a la cabeza.</li>
							<li>No deberá soltarse los dedos.</li>
						</ul>
						<p>VALORACIÓN: se contará una (1) unidad cada vez que ambos toquen el muslo. no se contará cuando exista impulso con los brazos, se despegue la cadera del piso, se separe los dedos, no se ingrese al piso con escápulas y no se toquen con los codos el muslo.</p>
						<h5>TABLA DE CALIFICACIÓN PARA FLEXIONES ABDOMINALES</h5>
						<table class="table table-bordered table-hover table-responsive">
							<tbody>
								<tr>
									<td>Calificación</td>
									<td>Varones</td>
									<td>Mujeres</td>
								</tr>
								<tr>
									<td>Puntos</td>
									<td>En 1 Minuto</td>
								</tr>
								<tr>
									<td>100</td>
									<td>68</td>
									<td>52</td>
								</tr>
								<tr>
									<td>95</td>
									<td>66</td>
									<td>50</td>
								</tr>
								<tr>
									<td>90</td>
									<td>64</td>
									<td>48</td>
								</tr>
								<tr>
									<td>85</td>
									<td>62</td>
									<td>46</td>
								</tr>
								<tr>
									<td>80</td>
									<td>60</td>
									<td>44</td>
								</tr>
								<tr>
									<td>75</td>
									<td>58</td>
									<td>42</td>
								</tr>
								<tr>
									<td>70</td>
									<td>56</td>
									<td>40</td>
								</tr>
								<tr>
									<td>65</td>
									<td>54</td>
									<td>38</td>
								</tr>
								<tr>
									<td>60</td>
									<td>52</td>
									<td>36</td>
								</tr>
								<tr>
									<td>55</td>
									<td>50</td>
									<td>34</td>
								</tr>
								<tr>
									<td>50</td>
									<td>48</td>
									<td>32</td>
								</tr>
								<tr>
									<td>45</td>
									<td>46</td>
									<td>30</td>
								</tr>
								<tr>
									<td>40</td>
									<td>44</td>
									<td>28</td>
								</tr>
								<tr>
									<td>35</td>
									<td>42</td>
									<td>26</td>
								</tr>
								<tr>
									<td>30</td>
									<td>40</td>
									<td>24</td>
								</tr>
								<tr>
									<td>25</td>
									<td>38</td>
									<td>22</td>
								</tr>
								<tr>
									<td>20</td>
									<td>36</td>
									<td>20</td>
								</tr>
								<tr>
									<td>15</td>
									<td>34</td>
									<td>18</td>
								</tr>
								<tr>
									<td>10</td>
									<td>32</td>
									<td>16</td>
								</tr>
							</tbody>
						</table>
					</li>
					<li>
						<h4>FUERZA EXTENSORA DE BRAZOS</h4>
						<p>OBJETIVO: Evaluar Evaluar la “capacidad de trabajo” de la musculatura extensora de brazos (tríceps braquial) y toda la musculatura auxiliar y/o fijadora, pectorales, deltoides, abdominales, músculos flexores de la cadera, etc.</p>
						<p>DURACIÓN: Un (1) minuto para varones y mujeres.-</p>
						<p>EJECUCIÓN: Para varones: cuerpo extendido de cubito ventral, puntas de ambos pies apoyados en el piso con una separación menor al ancho de hombros, las palmas de las manos apoyadas en el piso a la altura de los hombros. La orientación de los dedos debe ser paralela a la del cuerpo. El cuerpo deberá conservar una línea recta entre tobillos, rodillas, cadera y cintura escapular. Se partirá desde el piso, mentón tocando el piso o una remera doblada a la altura de éste. Se extenderán completamente los brazos a la altura de los codos, sin perder la alineación antes mencionada y regresar a la posición inicial con el mentón tocando el piso.</p>
						<p>Para mujeres: ídem a varones con la salvedad que apoyarán las rodillas en vez de los pies. Podrán emplear una toalla o remera para apoyar las rodillas.-</p>
						<p>VALORACIÓN: se contabilizará una (1) flexión cada vez que se levante el cuerpo con una extensión completa de codos, sin perder la alineación descripta.</p>
						<p>No se contabilizará la flexión cuando no se extiendan completamente los codos, no se conserve la alineación requerida, el mentón no toque el piso y la separación de pies y manos sea mayor al ancho de hombros.</p>
						<h5>TABLA DE CALIFICACIÓN PARA FUERZA EXTENSORA DE BRAZOS.</h5>
						<table class="table table-bordered table-hover table-responsive">
							<tbody>
								<tr>
									<td>Calificación</td>
									<td>Varones</td>
									<td>Mujeres</td>
								</tr>
								<tr>
									<td>Puntos</td>
									<td>En 1 minuto</td>
								</tr>
								<tr>
									<td>100</td>
									<td>62</td>
									<td>46</td>
								</tr>
								<tr>
									<td>95</td>
									<td>59</td>
									<td>44</td>
								</tr>
								<tr>
									<td>90</td>
									<td>56</td>
									<td>42</td>
								</tr>
								<tr>
									<td>85</td>
									<td>53</td>
									<td>40</td>
								</tr>
								<tr>
									<td>80</td>
									<td>50</td>
									<td>38</td>
								</tr>
								<tr>
									<td>75</td>
									<td>47</td>
									<td>36</td>
								</tr>
								<tr>
									<td>70</td>
									<td>44</td>
									<td>34</td>
								</tr>
								<tr>
									<td>65</td>
									<td>41</td>
									<td>32</td>
								</tr>
								<tr>
									<td>60</td>
									<td>38</td>
									<td>30</td>
								</tr>
								<tr>
									<td>55</td>
									<td>35</td>
									<td>28</td>
								</tr>
								<tr>
									<td>50</td>
									<td>32</td>
									<td>26</td>
								</tr>
								<tr>
									<td>45</td>
									<td>29</td>
									<td>24</td>
								</tr>
								<tr>
									<td>40</td>
									<td>26</td>
									<td>22</td>
								</tr>
								<tr>
									<td>35</td>
									<td>23</td>
									<td>20</td>
								</tr>
								<tr>
									<td>30</td>
									<td>20</td>
									<td>18</td>
								</tr>
								<tr>
									<td>25</td>
									<td>17</td>
									<td>16</td>
								</tr>
								<tr>
									<td>20</td>
									<td>15</td>
									<td>14</td>
								</tr>
								<tr>
									<td>15</td>
									<td>12</td>
									<td>12</td>
								</tr>
								<tr>
									<td>10</td>
									<td>9</td>
									<td>9</td>
								</tr>
							</tbody>
						</table>
					</li>
					<li>PRUEBA DE POTENCIA AERÓBICA</li>
					<p>OBJETIVO: Evaluar la "capacidad aeróbica.-"</p>
					<p>DISTANCIA: 1500 metros</p>
					<p>DURACIÓN: de acuerdo a la tabla de rendimientos y calificación.-</p>

					<h5>TABLA DE CALIFICACIÓN PARA LA PRUEBA DE 1500 METROS</h5>

					<table class="table table-bordered table-hover table-responsive">
						<tbody>
							<tr>
								<td>Calificación</td>
								<td>Los tiempos están en minutos y segundos</td>
							</tr>
							<tr>
								<td>Puntos</td>
								<td>Varones</td>
								<td>Mujeres</td>
							</tr>
							<tr>
								<td>100</td>
								<td>Menos de 5'10''</td>
								<td>Menos de 6'18''</td>
							</tr>
							<tr>
								<td>95</td>
								<td>Entre 5'11" y 5'13"</td>
								<td>Entre 6'19" y 6'25"</td>
							</tr>
							<tr>
								<td>90</td>
								<td>Entre 5'14" y 5'15"</td>
								<td>Entre 6'26" y 6'28"</td>
							</tr>
							<tr>
								<td>85</td>
								<td>Entre 5'16" y 5'17"</td>
								<td>Entre 6'29" y 6'40"</td>
							</tr>
							<tr>
								<td>80</td>
								<td>Entre 5'18" y 5'19"</td>
								<td>Entre 6'41" y 7'02"</td>
							</tr>
							<tr>
								<td>75</td>
								<td>Entre 5'20" y 5'23"</td>
								<td>Entre 7'03" y 7'04"</td>
							</tr>
							<tr>
								<td>70</td>
								<td>Entre 5'24" y 5'25"</td>
								<td>Entre 7'05" y 7'09"</td>
							</tr>
							<tr>
								<td>65</td>
								<td>Entre 5'26" y 5'27"</td>
								<td>Entre 7'10" y 7'11"</td>
							</tr>
							<tr>
								<td>60</td>
								<td>Entre 5'28" y 5'30"</td>
								<td>Entre 7'12" y 7'14"</td>
							</tr>
							<tr>
								<td>55</td>
								<td>Entre 5'31" y 5'32"</td>
								<td>Entre 7'15" y 7'19"</td>
							</tr>
							<tr>
								<td>50</td>
								<td>Entre 5'33" y 5'45"</td>
								<td>Entre 7'20" y 7'23"</td>
							</tr>
							<tr>
								<td>45</td>
								<td>Entre 5'46" y 6'02"</td>
								<td>Entre 7'24" y 7'26"</td>
							</tr>
							<tr>
								<td>40</td>
								<td>Entre 6'03" y 6'06"</td>
								<td>Entre 7'27" y 7'29"</td>
							</tr>
							<tr>
								<td>35</td>
								<td>Entre 6'07" y 6'11"</td>
								<td>Entre 7'30" y 7'34"</td>
							</tr>
							<tr>
								<td>30</td>
								<td>Entre 6'12" y 6'17"</td>
								<td>Entre 7'35" y 7'39"</td>
							</tr>
							<tr>
								<td>25</td>
								<td>Entre 6'18" y 6'26"</td>
								<td>Entre 7'40" y 7'44"</td>
							</tr>
							<tr>
								<td>20</td>
								<td>Entre 6'27" y 6'28"</td>
								<td>Entre 7'45" y 7'49"</td>
							</tr>
							<tr>
								<td>15</td>
								<td>Entre 6'29" y 6'32"</td>
								<td>Entre 7'50" y 7'59"</td>
							</tr>
							<tr>
								<td>10</td>
								<td>Entre 6'33" y 6'59"</td>
								<td>Entre 8'00" y 9'00"</td>
							</tr>
							<tr>
								<td>0</td>
								<td>Más de 7'00"</td>
								<td>Más de 9'01"</td>
							</tr>
						</tbody>
					</table>

					<h4>PROGRAMA AUTORIZADO POR EL RECTORADO DEL IESP "G.J.F.S.M."</h4>
					<p>OBS: LA INSTITUCIÓN LES HACE CONOCER A LOS POSTULANTES A ASPIRANTES A CADETES DEL CICLO LECTIVO 2018, QUE LA MISMA NO DESARROLLA, NI EMITE EL CONTENIDO DE LOS PROGRAMAS DE CONOCIMIENTOS INTELECTUALES QUE COMPRENDEN LAS ÁREAS DE LENGUA, GEOGRAFÍA, HISTORIA Y APTITUD FÍSICA.</p>
				</ol>
			</div><!-- end of col-md-* -->
		</div><!-- end of row -->
	</div>

{{end}}

{{block script}}
	<script>        
	        $(document).ready(function(){
	            $("body").css({'padding-top':'80px'});
	        });
	</script>
{{end}}