{{extend 'layout_institutional.html'}}

{{block navbar}}

    {{include 'navbar-2.html'}}

{{end}}


{{block header}}

	
{{end}}

{{block content}}

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				
				<h4 class="text-center"><strong>TERMINOS Y CONDICIONES DE CONVOCATORIA PARA EL PROCESO DE SELECCIÓN DE ASPIRANTES A CADETES DE LAS CARRERAS DE “OFICIAL SUBAYUDANTE – TÉCNICO SUPERIOR EN SEGURIDAD PÚBLICA – DE LA POLICÍA DE TUCUMÁN Y OFICIAL SUBAYUDANTE – TÉCNICO SUPERIOR EN SEGURIDAD PUBLICA CON ORIENTACIÓN EN SISTEMA PENITENCIARIO”, CICLO LECTIVO 2.019, QUE SE DICTAN EN EL INSTITUTO DE ENSEÑANZA SUPERIOR DE POLICÍA “GRAL. JOSÉ FRANCISCO DE SAN MARTÍN”.</strong></h4><br>
              	<ol type="I">
                <li><p class="text-justify"><strong>INSCRIPCIONES:</strong> LAS INSCRIPCIONES SE INICIARÁN A TRAVES DE LA PÁGINA WEB DEL INSTITUTO Y LAS DISTINTAS ETAPAS DE SELECCIÓN SE REGIRÁN EN SUS ASPECTOS GENERALES</strong> POR LO ESTIPULADO EN EL DECRETO DE CONVOCATORIA EMITIDO AL EFECTO,Y EN SUS ASPECTOS PARTICULARES POR LAS PRESENTES PAUTAS Y LAS QUE OPORTUNAMENTE DE A CONOCER EN CADA ETAPA EL I.E.S. DE POLICÍA.</p></li>

                <li><p class="text-justify"><strong>OBJETO:</strong> LA PRESENTE SELECCIÓN TENDRÁ POR OBJETO ÚNICAMENTE LA INCORPORACIÓN DE ASPIRANTES A CADETES.<br>
                <strong>NO SE PODRÁ OPTAR PARA LA SELECCIÓN A ASPIRANTE A AGENTE.</strong><br>
                APROBAR TODAS LAS ETAPAS DEL PROCESO, SIN HABER QUEDADO SELECCIONADO COMO ASPIRANTE A CADETE PORQUE EL PUNTAJE OBTENIDO NO LE ALCANZÓ PARA OBTENER UNA DE LAS VACANTES, NO IMPLICARÁ NECESARIAMENTE QUE QUEDA SELECCIONADO PARA REALIZAR EL CURSO EN LA ESCUELA DE SUBOFICIALES Y AGENTES.
                LA CONVOCATORIA Y EL PROCESO DE SELECCIÓN PARA ASPIRANTES A AGENTES SE REALIZARÁ OPORTUNAMENTE POR LA VÍA Y FORMA QUE ESTIPULE EL COMANDO MINISTERIAL E INSTITUCIONAL.</p></li>

                <li><strong>ETAPAS:</strong> EL PROCESO CONSTARÁ DE DISTINTAS ETAPAS, A SABER:
                  <ol>
                    <li><strong>INSCRIPCIÓN</strong> A TRAVÉS DE LA PÁGINA WEB</li>
                    <li>CONTROL DE <strong>DOCUMENTACIÓN</strong> Y TOMA DE <strong>TALLA, PESO</strong> E <strong>INDICE DE MASA CORPORAL</strong>. A QUIENES CUMPLAN CON ESTOS REQUISITOS LES SERÁ CONVALIDADA LA INSCRIPCIÓN Y CONTINUARÁN EN EL PROCESO. EN ESTE ASPECTO ES IMPORTANTE TENER EN CUENTA QUE:
                      <ol type="A">
                        <li>EL FORMULARIO DEBERÁ SER FIRMADO POR EL INTERESADO AL MOMENTO DE SU PRIMERA PRESENTACIÓN EN EL INSTITUTO Y EN PRESENCIA DEL FUNCIONARIO INTERVINIENTE.</li>
                        <li>LOS MENORES DE EDAD AL MOMENTO DE SU PRIMERA PRESENTACIÓN, DEBERÁN ACOMPAÑAR EL CONSENTIMIENTO EXPRESO Y ESCRITO DE AMBOS PROGENITORES AUTORIZANDO SU PARTICIPACIÓN EN EL PROCESO DE SELECCIÓN, CON FIRMAS CERTIFICADAS POR ESCRIBANO PÚBLICO O JUEZ DE PAZ (ART. 645 Y CCS DEL COD. CIVIL Y COM. DE LA NAC.). AL EFECTO, SE DEBERÁ IMPRIMIR EL FORMULARIO CORRESPONDIENTE QUE ESTARÁ DISPONIBLE EN LA PÁGINA DEL INSTITUTO.</li>
                        <li>DEBEN POSEER TODA LA DOCUMENTACIÓN ORIGINAL Y COPIAS AL MOMENTO DE LA PRESENTACIÓN, QUE ACREDITEN LOS REQUISITOS DE INGRESO. CASO CONTRARIO NO PODRÁN CONTINUAR CON EL PROCESO.</li>
                        <ol type="1">
                          <li>EN CUANTO A LA DOCUMENTACIÓN REQUERIDA:
                            <ul>
                              <li><p class="text-justify">LOS TÍTULOS SECUNDARIOS Y/O CONSTANCIAS DE CICLO CONCLUIDO DEBEN SER AUTÉNTICOS (TÍTULOS REGISTRADOS EN EL MINISTERIO DE EDUCACIÓN DE LA PROVINCIA), Y CONTENER INFORMACIÓN VERIDICA. LOS POSTULANTES QUE AL MOMENTO DE LA INSCRIPCIÓN SE ENCUENTREN CURSANDO EL ÚLTIMO AÑO DEBERÁN PRESENTAR CONSTANCIA DE ALUMNO REGULAR. ÉSTOS ÚLTIMOS SERÁN CONSIDERADOS INSCRIPTOS CONDICIONALES Y DEBERÁN PRESENTAR HASTA EL  28/12/2.018 NUEVA CONSTANCIA DE FINALIZACIÓN DEL CICLO SIN ADEUDAR MATERIA.</p></li>

                              <li>
                                <p class="text-justify">LAS ACTAS DE NACIMIENTO DEBEN SER LEGALIZADAS Y ACTUALIZADAS. TÉNGASE EN CUENTA QUE LAS EDADES REQUERIDAS PARA EL INGRESO (18 A 24 AÑOS) DEBEN OSTENTARSE AL 01/03/2.019, FUERA DE ESOS LÍMITES NO SE CONVALIDARÁ LA INSCRIPCIÓN.</p>
                              </li>
                            </ul>
                          </li>
                        <li><p>EN CUANTO A LA TALLA, PESO E IMC:</p>
                          <ul>
                            <li>LOS ASPIRANTES DEBERÁN TENER UNA ESTATURA MÍNIMA DE 1,65 M (VARONES) 1,60 (MUJERES).</li>
                            <li>EN LA MISMA OPORTUNIDAD QUE SE TOME LA TALLA SE TOMARÁ TAMBIÉN EL PESO Y DE ESTAS DOS VARIABLES SE EXTRAERÁ EL ÍNDICE DE MASA CORPORAL (IMC) EL QUE NO DEBE SER INFERIOR A 18 NI SUPERIOR A 26,9. LA ECUACIÓN QUE SE UTILIZA PARA CALCULAR EL IMC ES PESO SOBRE ALTURA AL CUADRADO.</li>
                          </ul>                                
                        </li>
                        </ol>
                      </ol>
                    </li>
                    <li><p class="text-justify"><strong>EXAMEN INTELECTUAL:</strong> CONSISTIRÁ EN LA EVALUACIÓN DE CONOCIMIENTOS INTELECTUALES DE CUATRO MATERIAS DE CONTENIDO DEL NIVEL SECUNDARIO, A SABER: HISTORIA, GEOGRAFÍA, LENGUA Y FORMACIÓN ÉTICA Y CIUDADANA. LA ÚLTIMA MATERIA SE INCORPORÓ PARA ESTE LLAMADO Y ES COMPLEMENTARIA DE LOS SABERES DE LAS DOS PRIMERAS. LOS PROGRAMAS DE LAS MISMAS FUERON PUBLICADOS EN LA PÁGINA DEL INSTITUTO CON LA ANTELACIÓN SUFICIENTE, ALLÍ CONSTAN LOS TEMAS POR UNIDADES Y SE INDICA LA BIBLIOGRAFÍA SUGERIDA.
                    <br>
                    EN OPORTUNIDAD QUE SE LLEVE A CABO EL MISMO DEBERÁN CONCURRIR AL LUGAR DESIGNADO EN LA FECHA Y HORA PREVISTA MUNIDOS DE DOS LAPICERAS AZULES, D.N.I. Y FORMULARIOS DE INSCRIPCIÓN Y DE EXÁMENES DE CONOCIMIENTOS INTELECTUALES(ORIGINALES). NO SE PERMITIRÁ EL USO DE APARATOS DE TELEFONÍA CELULAR.<br>
                    PREVIO A COMENZAR EL EXAMEN EL ASPIRANTE DEBERÁ:
                    <ul>
                      <li>FIRMAR EL FORMULARIO DE EXÁMENES DE CONOCIMIENTOS INTELECTUALES QUE LLEVARÁ EL MISMO EN ESA OPORTUNIDAD Y SERÁ ADOSADO COMO PRIMERA HOJA DEL EXAMEN. </li>
                      <li>ESCUCHAR ATENTAMENTE LAS INSTRUCCIONES DEL VEEDOR DEL CURSO SOBRE LA CANTIDAD DE MATERIAS, LAS HOJAS QUE TIENE CADA UNA DE ELLAS Y LA CANTIDAD DE PREGUNTAS. TAMBIÉN SE LE EXPLICARÁ LA MODALIDAD DE COMO DEBERÁ MARCAR LA OPCIÓN CORRECTA EN CASO QUE SEA MULTIPLE CHOISE. EN CASO DE ADVERTIR QUE SU EXAMEN NO ESTÁ COMPLETO O ESTÁ ALTERADO DEBERÁ DAR AVISO AL VEEDOR PARA QUE EL MISMO SEA COMPLETADOO REEMPLAZADO.</li>
                      <li>TENER EN CUENTA EL TIEMPO QUE TIENE PARA LA REALIZACIÓN DEL EXAMEN, COMO ASÍ TAMBIÉN QUE NO ESTÁ PERMITIDO HABLAR NI CONSULTAR RESPECTO AL CONTENIDO.</li>
                      <li>LOS EXÁMENES DE CONOCIMIENTOS INTELECTUALES NO TIENEN RECUPERATORIO.</li>
                    </li>
                    </p></ul>
                    <li><strong>EXÁMEN PSICOLÓGICO:</strong>
                    <p class="text-justify">
                      ESTE EXAMEN CONSTA DE DOS ETAPAS, UNA ETAPA GRUPAL Y UNA INDIVIDUAL. SERÁ LLEVADO A CABO POR PROFESIONALES IDÓNEOS Y CAPACITADOS.<br> 
                      ANTES DE COMENZAR EL EXAMEN, EL ASPIRANTE DEBERÁ LEER ATENTAMENTE Y FIRMAR UN CONSENTIMIENTO INFORMADO, EN EL CUAL EL POSTULANTE EXPRESA VOLUNTARIAMENTE SU INTENCIÓN DE PARTICIPAR EN EL PROCESO DE EVALUACIÓN DEL PERFIL PSICOLABORAL, DESPUÉS DE HABER COMPRENDIDO LA INFORMACIÓN QUE SE HA DADO ACERCA DE LOS OBJETIVOS DEL EXAMEN Y LAS DIRECTRICES A SEGUIR. EN EL MISMO SE ESPECIFICA QUE EL EXAMEN NO PUEDE SER REFUTADO NI REVISADO POR OTROS PROFESIONALES QUE NO PERTENEZCAN AL GRUPO DE EVALUADORES.<br> 
                      EL EXAMEN ES DE CARÁCTER ELIMINATORIO E IRRECURRIBLE. 
                    </p>    
                    </li>
                    <li><strong>EXÁMEN MÉDICO CLÍNICO</strong>
                      <p class="text-justify">
                        LOS ASPIRANTES QUE ACCEDAN A ESTA ETAPA Y PREVIO A CONCURRRIR AL HOSPITAL O CENTRO MÉDICO QUE SE DESIGNE AL EFECTO EN EL TURNO CORRESPONDIENTE, DEBERÁN IMPRIMIR UNA FICHA MÉDICA QUE ESTARÁ PUBLICADA EN LA PÁGINA DEL INSTITUTO. AL MOMENTO DE SU PRESENTACIÓN EN EL NOSOCOMIO Y PREVIO CONSTATARSE SU IDENTIDAD, EL POSTULANTE DEBERÁCOMPLETAR DICHA FICHA DE SU PUÑO Y LETRA CON LOS DATOS ALLÍ EXIGIDOS. DEBERÁN TENER EN CUENTA QUE SERÁ OBLIGATORIO DECLARAR BAJO JURAMENTO ENFERMEDADES, AFECCIONES U OTRAS SINTOMATOLOGÍAS PREEXISTENTES, VACUNAS, MEDICACIÓN QUE SE ADMINISTRE, ETC. CABE RECORDAR QUE UNO DE LOS REQUISITOS EXIGIDOS POR LA LEY Y EL DECRETO DE CONVOCATORIA ES “POSEER SALUD Y APTITUDES PSICO – FÍSICAS COMPATIBLES PARA EL CARGO A DESEMPEÑAR” (ART. 39, INC. 4° LEY 3823). 
                        PREVIO A EMITIR UN CONSENTIMIENTO INFORMADO, SE LE REALIZARÁN LOS ANÁLISIS Y ESTUDIOS QUE CONSTAN EN LA FICHA MÉDICA, COMO SER ANÁLISIS DE SANGRE, ORINA, TOXICÓLOGICO, RADIOGRAFIAS, ODONTOLÓGICO, OFTALMOLÓGICO, ETC.<br>                        
                        RESPECTO AL EXAMEN OFTALMOLÓGICO TÉNGASE EN CUENTA QUE LA AGUDEZA VISUAL REQUERIDA CONSTA EN LA FICHA MÉDICA.<br> 
                        LOS GASTOS QUE DEMANDEN ESTOS EXÁMENES DEBERÁN SER SOLVENTADOS POR EL POSTULANTE, POR LO QUE SE RECOMIENDA TENER EN CUENTA LOS PARÁMETROS REQUERIDOS PARA ALCANZAR APTITUD EVITANDO DE ESTA MANERA GASTOS INNECESARIOS, YA QUE DE NO APROBARLOS IMPLICA LA ELIMINACIÓN DEL PROCESO Y NO ADMITEN REPETICIÓN EN ESTA OPORTUNIDAD.<br>
                        ESTOS EXÁMENES SERÁN EFECTUADOS SIN PERJUICIO DE LOS EXÁMENES COMPLEMENTARIOS, CUYA REALIZACIÓN CONSIDERE NECESARIA EL I.E.S. DE POLICÍA PREVIOS A LA INCORPORACIÓN DE LOS POSTULANTES QUE CUBRAN LAS VACANTES.
                      </p>                          
                    </li>
                    <li><strong>EXÁMEN DE APTITUD FÍSICA</strong><br>
                      CONSISTE EN CUATRO PRUEBAS, A SABER:
                      <ol type="A">
                        <li>FUERZA FLEXORA DE TRONCO (ABDOMINALES).</li>
                        <li>FUERZA FLEXORA DE BRAZOS.</li>
                        <li>PRUEBA AERÓBICA (CARRERA 1.000 M.)</li>
                        <li>NATACIÓN.</li>
                      </ol>
                      <p class="text-justify">
                        CADA UNA DE LAS PRUEBAS CUENTAN CON SUS RESPECTIVAS TABLAS DE CALIFICACIÓN Y SE ENCUENTRAN PUBLICADAS EN LA PÁGINA WEB DEL INSTITUTO. TAMBIÉN ESTÁ ALLÍ DESCRIPTA LA TÉCNICA EXIGIDA PARA QUE SE EFECTUÉN LOS EJERCICIOS FÍSICOS Y EL TIEMPO REQUERIDO PARA APROBAR EN CADA CASO. LOS MOVIMIENTOS MAL EJECUTADOS NO SE CONTABILIZARÁN.<br>
                        PARA LAS PRUEBAS DE FUERZA Y CARRERA DEBERÁN PRESENTARSE CON ROPA DE GIMNASIA COMODA, MIENTRAS QUE PARA LA PRUEBA DE NATACIÓN DEBERÁN USAR SHORT Y MALLA DE BAÑO RESPECTIVAMENTE, GORRO DE BAÑO, CHINELAS PARA BAÑO Y ANTIPARRAS PARA LA OCASIÓN EN CASO DE CONSIDERARLO NECESARIO. DEBERÁN LLEVAR TAMBIÉN TOHALLÓN Y ELEMENTOS DE ASEO PERSONAL.<br>
                        PARA PARTICIPAR DE LA PRUEBA DE NATACIÓN PREVIAMENTE DEBERÁN ACREDITAR EL APTO MÉDICO QUE SE REALIZARÁ EN LAS INSTALACIONES DE LA FACULTAD DE EDUCACIÓN FÍSICA A CARGO DE LOS FACULTATIVOS MÉDICOS DE LA MISMA. LA INAPTITUD SERÁ CAUSAL DE EXCLUSIÓN DE LA PRUEBA, POR LO QUE SE RECOMIENDA EL DEBIDO CUIDADO Y LA PREVENCIÓN NECESARIA DE LAS MICOSIS.
                      </p>
                    </li>
                    <li><strong>CONVOCATORIA PARA REALIZAR EL TALLER PROPEDEÚTICO:</strong>
                      <p class="text-justify">
                        EL LISTADO DEFINITIVO DE ASPIRANTES A INCORPORARSE SURGIRÁ DE AQUELLOS QUE HAYAN SUPERADO TODAS LAS ETAPAS CONFORME AL NÚMERO DE VACANTES Y POR ESTRICTO ORDEN DE MÉRITO, QUIENES SERÁN CONVOCADOS PARA HACERLES CONOCER LOS ELEMENTOS NECESARIOS PARA SU INCORPORACIÓN Y LA FECHA EN QUE DEBERÁN PRESENTARSE EN ESTE INSTITUTO PARA DAR INICIO AL TALLER PROPEDEÚTICO. EL MISMO ES DE CARÁCTER OBLIGATORIO, BAJO EL REGIMEN DE INTERNADO Y SU APROBACIÓN ES REQUISITO SINE QUA NOM PARA LA INCORPORACIÓN DEFINITIVA, PREVIO CONSTATAR QUE EL ASPIRANTE NO REGISTRA ANTECEDENTES JUDICIALES NI PENALES DE CARÁCTER DOLOSO, NI TAMPOCODE CONTRAVENCIONES POLICIALES, NI SE ENCUENTRA PROCESADO POR LA JUSTICIA NACIONAL O PROVINCIAL.
                      </p>                      
                    </li>
                  </ol>
                </li> 
                <li><strong>CONSIDERACIONES GENERALES:</strong>
                  <ul>
                    <li>PARA CUALQUIER PRESENTACIÓN QUE EL ASPIRANTE SEA REQUERIDO DEBERÁ:</li>
                    <ol type="1">
                      <li class="text-justify">
                        HACERLO CON MEDIA HORA DE ANTELACIÓN, VESTIDO CON ROPA ELEGANTE SPORT, SALVO QUE PARA CASOS PARTICULARES SE INDIQUE OTRA VESTIMENTA. EVITE INCONVENIENTES, UNA VEZ COMENZADAS LAS PRUEBAS YA NO PODRÁ PARTICIPAR DE LAS MISMAS.
                      </li>
                      <li class="text-justify">
                        DEBERÁ PORTAR Y PRESENTAR  SU D.N.I. , FORMULARIO DE INSCRIPCIÓN Y FORMULARIO DEL EXAMEN DE QUE SE TRATE, ORIGINALES (EXCLUYENTE), MAS LA DOCUMENTACIÓN QUE SE LE EXIJA PARA CADA CASO.
                      </li>
                    </ol>
                    <li class="text-justify">NINGUNO DE LOS EXÁMENES TIENE RECUPERATORIO. TANTO EN EL INTELECTUAL COMO EN LA PRUEBA FÍSICA EL PUNTAJE MÍNIMO PARA APROBAR SERÁ DE 60 PUNTOS. AL TRATARSE DE CUATRO PRUEBAS EN CADA UNO DE ELLOS (INTELECTUAL Y FÍSICO) PARA APROBAR SE DEBERÁ OBTENER UN PUNTAJE TOTAL MÍNIMO DE 240 PUNTOS, SIEMPRE Y CUANDO NO SE OBTENGA UN PUNTAJE MENOR A 40 EN CADA UNA DE LAS ÁREAS INTELECTUALES O PRUEBAS FÍSICAS, LO CONTRARIO IMPLICA ENCONTRARSE DESAPROBADO Y NO PODRÁ CONTINUAR CON LOS TRÁMITES DE INCORPORACIÓN.</li>

                    <li>LOS GASTOS QUE DEMANDEN LOS DISTINTOS EXÁMENES DEBERÁN SER SORPORTADOS POR LOS POSTULANTES Y SU MONTO SE LES HARÁ SABER CON ANTELACIÓN A LOS MISMOS.</li>
                  </ul>
                  
                </li>
              </ol>            
			</div>


			<div class="col-md-8 col-md-offset-2 entry-program">
				<h2 class="text-center bold"><strong>REQUISITOS PARA LA INSCRIPCIÓN DE ASPIRANTES A CADETES DE POLICÍA Y DEL SERVICIO PENITENCIARIO PROVINCIAL</strong></h2>
				<p class="text-justify">Los requisitos para la inscripción de Aspirantes a Cadetes de Primer Año de la Carrera de <strong>“Oficial Subayudante-Técnico Superior en Seguridad Pública- de la Policía de Tucumán” y “Oficial Subayudante-Técnico Superior en Seguridad Pública con orientación en Sistema Penitenciario”</strong>, en el Instituto de Enseñanza Superior de Policía “Gral. José Francisco de San Martín” para el Ciclo Lectivo 2.019, son los siguientes:</p>
				<ol type="a">
					<li>Ser Argentino, nativo o por opción.</li>
					<li>Tener 18 años de edad como mínimo y no más de 24, cumplidos al 01 de marzo de 2.019.</li>
					<li>Tener aprobado el ciclo secundario completo al 28/12/2.018.</li>
					<li>Tener estatura no menor de 1,65 m (masculinos) y 1,60 m (femeninas), y un Índice de Masa Corporal acorde al peso y talla. </li>
					<li>Ser de estado civil soltero/a.</li>
					<li>Poseer salud y aptitudes psico – físicas compatibles con la función a desempeñar.</li>
					<li>No registrar antecedentes judiciales ni penales de carácter doloso (Artículo 39º Inc. 6º de la Ley Nº 3823 y su modificatoria Ley Nº 7356), ni encontrarse procesado ante la justicia provincial o nacional.</li>
					<li>No registrar antecedentes contravencionales policiales.</li>
				</ol>
			</div><!-- end of col-md-* -->
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h2 class="text-center"><strong>DOCUMENTACIÓN A PRESENTAR PARA CONVALIDAR LA INSCRIPCION ON LINE </strong></h2>
				<ol type="a">
					<li><strong>Para Aspirantes a cadetes</strong>
						<ol type="1">
							<li>Formulario de inscripción original impreso por duplicado de la Página Web con la asignación del turno respectivo para su presentación.</li>
							<li>Consentimiento de ambos progenitores para participar del presente proceso de selección con certificación de firmas por Escribano Público o Juez de Paz, en caso de menores de edad.</li>
							<li>Presentar Documento Nacional de Identidad actualizado en original y fotocopias (no se aceptarán documentos no vigentes, provisorios, ni fotocopias).</li>
							<li>Título analítico de estudios secundarios concluidos, certificado por las autoridades del Ministerio de Educación, y /o Constancia otorgada por el establecimiento escolar donde cursó los estudios, con la expresa indicación de que no adeuda materias. En caso de no haber concluido el ciclo lectivo del nivel al momento de la inscripción, deberá abonar constancia que es alumno del último curso con carácter regular y será considerado inscripto condicional hasta que al 28/12/2.018 presente constancia de culminación del ciclo sin adeudar materias. En todos los casos deberá presentar original y copias.</li>
							<li>Acta de Nacimiento legalizada y actualizada, y copia.</li>
						</ol>
					</li>
					<li><p><strong>Para el personal de Suboficiales y/o Agentes de la Policía de Tucumán y del Servicio Penitenciario Provincial:</strong>  previo trámite administrativo, podrán ser incorporados como Cadetes, percibiendo durante el cursado los haberes correspondientes al grado y deberán reunir además de los requisitos estipulados precedentemente, como así también superar cada una de las etapas de evaluación – a excepción de los incisos “b” y “e”-, los siguientes:</p>
						<ul>
							<li>Ser no mayor de veintiocho (28) años de edad, al 01 de Marzo de 2.019.</li>
							<li>No registrar antecedentes administrativos desfavorables que se equiparen a las causales de inhabilitación para el ascenso previstas por la legislación policial y penitenciaria, respectivamente, excepto las que se deriven de la falta de antigüedad.</li>
							<li>Tener un buen concepto funcional.</li>
							<li>Tener como mínimo un (01) año de permanencia ininterrumpida en la repartición para los Suboficiales y/o Agentes de la Policía de Tucumán.</li>
							<li>Tener como mínimo seis (06) meses de permanencia interrumpida en la repartición para los Suboficiales y/o Agentes del Servicio Penitenciario Provincial.</li>
							<li>El curso de Primer año tendrá un régimen de internado durante el cursado del Ciclo Lectivo.</li>
						</ul>
						
					</li>
				</ol>
				


				<ol>
					<li>Documento Nacional de Identidad (actualizado) y fotocopia</li>
                    <li>Certificado de Nacimiento Original (actualizado) y copia.</li>
                    <li>Título análitico de estudios secundarios y/o constancia de estudios finalizados otorgada por el establecimiento donde cursó sus estudios(con aclaración de que <strong>no se adeuda materias</strong>)</li>
                    <li>Formulario de inscripción impreso de la web del IES de Policía de Tucumán Gral San Martín con la asignación de turno respectivo para su presentación</li>
				</ol>
			</div><!-- end of col-md-* -->
		</div><!-- end of row -->
	</div>

{{end}}

{{block script}}
	<script>        
	        $(document).ready(function(){
	            $("body").css({'padding-top':'80px'});
	        });
	</script>
{{end}}