{{extend 'layout_institutional.html'}}

{{block navbar}}

    {{include 'navbar-2.html'}}

{{end}}


{{block header}}

	
{{end}}

{{block content}}

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h1 class="text-center bold">Requisitos para el Ingreso como Cadete al I.E.S.</h1>
				<ol>
					<li>Ser Argentino, nativo o por opción.</li>
					<li>Tener entre <strong>18 años</strong> de edad como mínimo y no más de  <strong>24 años</strong> de edad al momento de la inscripción.</li>
					<li>Reunir las condiciones psico-físicas exigidas, las que se comprobarán mediante los estudios clínicos y test que se determinen.</li>
					<li>No registrar Antecedentes judiciales ni penales de carácter doloso. (Artículo 39º Inc. 6º de la Ley Nº 3823 y su modificatoria Ley Nº 7356).</li>
					<li>Estado civil: <strong>soltero/a</strong>.</li>
					<li>Estatura no menor a <strong>1,70 m. (masculino)</strong> y <strong>1,65 m. (femenino)</strong></li>
					<li>Tener aprobado el nivel polimodal o su equivalente (sin adeudar materias) en establecimientos educacionales oficialmente reconocidos.</li>
					<li>No haber sido reprobado en más de una oportunidad en los exámenes de admisión en la escuela de cadetes.</li>
					<li>Aprobar la totalidad de los exámenes que conforman el proceso de selección con las calificaciones mínimas establecidas para continuar dentro del concurso.</li>
					<li>Para el ingreso el aspirante debe estar incluido dentro del orden de merito que se establezca en función a las vacantes.</li>
				</ol>
			</div><!-- end of col-md-* -->
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h3 class="text-center"><strong>REQUISITOS AL MOMENTO DE LA INSCRIPCIÓN CONFORME AL TURNO ASIGNADO POR LA WEB</strong></h3>
				<ol>
					<li>Documento Nacional de Identidad (actualizado) y fotocopia</li>
                    <li>Certificado de Nacimiento Original (actualizado) y copia.</li>
                    <li>Título análitico de estudios secundarios y/o constancia de estudios finalizados otorgada por el establecimiento donde cursó sus estudios(con aclaración de que <strong>no se adeuda materias</strong>)</li>
                    <li>Formulario de inscripción impreso de la web del IES de Policía de Tucumán Gral San Martín con la asignación de turno respectivo para su presentación</li>
				</ol>
			</div><!-- end of col-md-* -->
		</div><!-- end of row -->
	</div>

{{end}}

{{block script}}
	<script>        
	        $(document).ready(function(){
	            $("body").css({'padding-top':'80px'});
	        });
	</script>
{{end}}