{{extend 'layout_institutional.html'}}

{{block navbar}}

    {{include 'navbar-2.html'}}

{{end}}


{{block header}}

	
{{end}}

{{block content}}

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h2 class="text-center bold"><strong>REQUISITOS PARA LA INSCRIPCIÓN DE ASPIRANTES A CADETES DE POLICÍA Y DEL SERVICIO PENITENCIARIO PROVINCIAL</strong></h2>
				<p class="text-justify">Los requisitos para la inscripción de Aspirantes a Cadetes de Primer Año de la Carrera de <strong>“Oficial Subayudante-Técnico Superior en Seguridad Pública- de la Policía de Tucumán” y “Oficial Subayudante-Técnico Superior en Seguridad Pública con orientación en Sistema Penitenciario”</strong>, en el Instituto de Enseñanza Superior de Policía “Gral. José Francisco de San Martín” para el Ciclo Lectivo 2.019, son los siguientes:</p>
				<ol type="a">
					<li>Ser Argentino, nativo o por opción.</li>
					<li>Tener 18 años de edad como mínimo y no más de 24, cumplidos al 01 de marzo de 2.019.</li>
					<li>Tener aprobado el ciclo secundario completo al 28/12/2.018.</li>
					<li>Tener estatura no menor de 1,65 m (masculinos) y 1,60 m (femeninas), y un Índice de Masa Corporal acorde al peso y talla. </li>
					<li>Ser de estado civil soltero/a.</li>
					<li>Poseer salud y aptitudes psico – físicas compatibles con la función a desempeñar.</li>
					<li>No registrar antecedentes judiciales ni penales de carácter doloso (Artículo 39º Inc. 6º de la Ley Nº 3823 y su modificatoria Ley Nº 7356), ni encontrarse procesado ante la justicia provincial o nacional.</li>
					<li>No registrar antecedentes contravencionales policiales.</li>
				</ol>
			</div><!-- end of col-md-* -->
			<div class="col-md-8 col-md-offset-2 entry-program">
				<h2 class="text-center"><strong>DOCUMENTACIÓN A PRESENTAR PARA CONVALIDAR LA INSCRIPCION ON LINE </strong></h2>
				<ol type="a">
					<li><strong>Para Aspirantes a cadetes</strong>
						<ol type="1">
							<li>Formulario de inscripción original impreso por duplicado de la Página Web con la asignación del turno respectivo para su presentación.</li>
							<li>Consentimiento de ambos progenitores para participar del presente proceso de selección con certificación de firmas por Escribano Público o Juez de Paz, en caso de menores de edad.</li>
							<li>Presentar Documento Nacional de Identidad actualizado en original y fotocopias (no se aceptarán documentos no vigentes, provisorios, ni fotocopias).</li>
							<li>Título analítico de estudios secundarios concluidos, certificado por las autoridades del Ministerio de Educación, y /o Constancia otorgada por el establecimiento escolar donde cursó los estudios, con la expresa indicación de que no adeuda materias. En caso de no haber concluido el ciclo lectivo del nivel al momento de la inscripción, deberá abonar constancia que es alumno del último curso con carácter regular y será considerado inscripto condicional hasta que al 28/12/2.018 presente constancia de culminación del ciclo sin adeudar materias. En todos los casos deberá presentar original y copias.</li>
							<li>Acta de Nacimiento legalizada y actualizada, y copia.</li>
						</ol>
					</li>
					<li><p><strong>Para el personal de Suboficiales y/o Agentes de la Policía de Tucumán y del Servicio Penitenciario Provincial:</strong>  previo trámite administrativo, podrán ser incorporados como Cadetes, percibiendo durante el cursado los haberes correspondientes al grado y deberán reunir además de los requisitos estipulados precedentemente, como así también superar cada una de las etapas de evaluación – a excepción de los incisos “b” y “e”-, los siguientes:</p>
						<ul>
							<li>Ser no mayor de veintiocho (28) años de edad, al 01 de Marzo de 2.019.</li>
							<li>No registrar antecedentes administrativos desfavorables que se equiparen a las causales de inhabilitación para el ascenso previstas por la legislación policial y penitenciaria, respectivamente, excepto las que se deriven de la falta de antigüedad.</li>
							<li>Tener un buen concepto funcional.</li>
							<li>Tener como mínimo un (01) año de permanencia ininterrumpida en la repartición para los Suboficiales y/o Agentes de la Policía de Tucumán.</li>
							<li>Tener como mínimo seis (06) meses de permanencia interrumpida en la repartición para los Suboficiales y/o Agentes del Servicio Penitenciario Provincial.</li>
							<li>El curso de Primer año tendrá un régimen de internado durante el cursado del Ciclo Lectivo.</li>
						</ul>
						
					</li>
				</ol>
				


				<ol>
					<li>Documento Nacional de Identidad (actualizado) y fotocopia</li>
                    <li>Certificado de Nacimiento Original (actualizado) y copia.</li>
                    <li>Título análitico de estudios secundarios y/o constancia de estudios finalizados otorgada por el establecimiento donde cursó sus estudios(con aclaración de que <strong>no se adeuda materias</strong>)</li>
                    <li>Formulario de inscripción impreso de la web del IES de Policía de Tucumán Gral San Martín con la asignación de turno respectivo para su presentación</li>
				</ol>
			</div><!-- end of col-md-* -->
		</div><!-- end of row -->
	</div>

{{end}}

{{block script}}
	<script>        
	        $(document).ready(function(){
	            $("body").css({'padding-top':'80px'});
	        });
	</script>
{{end}}