{{extend 'layout_institutional.html'}}

{{block navbar}}
  {{include 'navbar.html'}}
{{end}}

{{block content}}
	
<div class="home-sec" id="home">
    <!-- <div class="overlay"> -->
        <!-- <div class="container"> -->

            <div class="row">           
                <div class="col-lg-12  col-md-12 col-sm-12 video-background player hidden-sm hidden-xs" id="bgndVideo" data-property="{videoURL:'https://youtu.be/jvkFDsaTtbo',containment:'self',autoPlay:true, mute:true, startAt:0,stopMovieOnBlur:true,showControls:false,quality:'medium',showYTLogo:false,mobileFallbackImage:'https://img.youtube.com/vi/37HkahxHa7w/hqdefault.jpg',opacity:1}">                
                <div class="row presentacion">
                  <div class="col-md-6 ies-title pull-right">
                    <h1 class="pull-right">I.E.S. de Policía</h1>
                    <h2 class="pull-right">Gral. José Francisco de San Martín</h2><br>
                    <a href="{{=URL('default','school_enrolment')}}" class="btn btn-trans btn-trans-warning pull-right"><h2 id="btn-ingreso">Ingreso 2019</h2></a>
                  </div>
                </div>
                
                  
                
                </div>
                <div class="col-sm-12 hidden-md hidden-lg mobile">
                    <!-- <div class="overlay-carousel">
                        <a href="{{=URL('default','school_enrolment')}}" class="btn btn-primary">Ingreso 2019</a>
                    </div> -->
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>


                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="{{=URL('static','img/slide-show/frente_ies.jpg')}}">
                    </div>

                     <div class="item">
                      <img src="{{=URL('static','img/slide-show/9deJulio2016.jpg')}}"les">
                    </div>

                    <div class="item">
                      <img src="{{=URL('static','img/slide-show/reloj_floral.jpg')}}"">
                    </div>
                  </div>
                  
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
<!-- 
                    <div class="flexslider set-flexi" id="main-section">
                        <ul class="slides move-me">
                            Slider 01
                            <li>
                                <h3></h3>
                               <h1 class="">INSTITUTO DE EDUCACION SUPERIOR</h1>
                               <h1>POLICIA DE TUCUMAN</h1>
                            </li>
                            End Slider 01
                            
                            Slider 02
                            <li>
                                <h3></h3>
                               <h1>CARRERA DE CADETE DEL SERVICIO PENITENCIARIO</h1>                
                            </li>
                            End Slider 02
                            
                            Slider 03
                            <li>
                                <h3>Delivering Quality Education</h3>
                               <h1>CARRERA DE CADETE DE POLICIA </h1>                 
                            </li>
                            End Slider 03
                        </ul>
                    </div> -->
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
         
</div>
<!--HOME SECTION END-->

<!-- <div  class="tag-line" >
    <div class="container">
                <div class="stripped-band" data-scroll-reveal="enter from the bottom after 0.10s"></div>      
        <div class="row  text-center" >           
            <div class="col-lg-12  col-md-12 col-sm-12 hidden-md hidden-lg">
                <h2 data-scroll-reveal="enter from the bottom after 0.2s"> Bienvenido al I. E. S. de Policía "Gral. José Francisco de San Martín" <i  </h2>
            </div>
        </div>
    </div>        
</div> -->

<!--HOME SECTION TAG LINE END-->   

<!-- News Section -->
<div id="course-sec" class="container set-pad">
<div class="container">
  {{for post in latestposts:}}
  <div class="row" data-scroll-reveal="enter from the bottom after 0.5s">
    <a href="{{=URL('blog','show', args=(post.id))}}" class=""><div class="col-md-12 post">
    <div class="col-md-6 col-sm-12">
      <img class="post-image" src="{{=URL('default','download',args=post.picture)}}" width="400" height="400" alt="">      
    </div>
    <div class="col-md-6 col-sm-12 text">
        <h2>{{=post.title}}</h2>
        <h3>{{=post.resume}}</h3>   
    </div>
    </div></a>
  </div>
  {{pass}}
  </div>  
</div>
<!-- end News Section -->

<!-- FEATURES - SECTION START -->
<div id="features-sec" class="container set-pad " >
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 features-sec-title">
            <h1 data-scroll-reveal="enter from the bottom after 0.35s"  class="header-line">OFERTA ACADEMICA</h1>
            
            <!-- <p data-scroll-reveal="enter from the bottom after 0.3s" >
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo.
            </p> -->
        </div>
    </div>
<!--/.HEADER LINE END-->

    <div class="row hidden-sm hidden-xs programs" >              
        <div class="col-lg-6  col-md-6 col-sm-6" data-scroll-reveal="enter from the bottom after 0.4s">
            <div class="about-div">
                <h3 class="text-center">Oficial Sub-Ayudante - Técnico en seguridad pública de la Policía de Tucumán</h3>
                <!-- <hr> -->
                
                <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p> -->
                <div class="panel panel-default" data-scroll-reveal="enter from the bottom after 0.7s">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#programapolic" class="collapsed">
                          <strong>+</strong> PROGRAMA 
                        </a>
                    </h4>
                </div>
                    <div id="programapolic" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                             <ul>
                                   <li><h4><strong>PRIMER AÑO</strong></h4></li>
                                   <ol><h4>ÁREA DE FORMACIÓN GENERAL</h4>
                                       <li>Relaciones Estado - Sociedad</li>
                                       <li>Problemáticas Socioculturales Contemporáneas</li>
                                       <li>Psicología</li>
                                       <h4>ÁREA DE FORMACIÓN DE FUNDAMENTO</h4>
                                       <li>Teoría del Derecho y la Justicia</li>
                                       <li>Derecho Constitucional y Federal</li>
                                       <li>Comunicación y Cultura</li>
                                       <li>Derecho Penal I</li>
                                       <h4>ÁREA DE FORMACIÓN ESPECÍFICA</h4>
                                       <li>Introducción a la Criminalística y Balística</li>
                                       <li>Planimetría</li>
                                       <li>Intervenciones Operativas Policiales I</li>
                                       <li>Accidentología Vial</li>
                                       <li>Legislación Policial</li>
                                       <li>Educación Física y Defensa Personal I</li>
                                       <h4>ÁREA DE PRÁCTICA PROFESIONALIZANTE</h4>
                                       <li>Práctica Sumarial I</li>
                                       <li>Práctica Operativa Policial I</li>
                                       <li>Prácticas de Servicios Internos</li>
                                   </ol>
                                   <br>
                                   <li><h4><strong>SEGUNDO AÑO</strong></h4></li>
                                   <ol><h4>ÁREA DE FORMACIÓN GENERAL</h4>
                                       <li>Ética Profesional Policial</li>
                                       <li>Psicología Social y Comunitaria</li>
                                       <li>Inglés</li>
                                       <h4>ÁREA DE FORMACIÓN DE FUNDAMENTO</h4>
                                       <li>Derecho Civil</li>
                                       <li>Derecho Penal II</li>
                                       <li>Derecho Procesal</li>
                                       <li>Derechos Humanos</li>
                                       <li>Derecho Administrativo I</li>
                                       <h4>ÁREA DE FORMACIÓN ESPECÍFICA</h4>
                                       <li>Medicina Legal</li>
                                       <li>Huellas y Rastros</li>
                                       <li>Intervenciones Operativas Policiales II</li>
                                       <li>Mediación y Resolución de Conflictos</li>
                                       <li>Protección Contra Siniestros</li>
                                       <li>Educación Física y Defensa Personal II</li>
                                       <h4>ÁREA DE PRÁCTICA PROFESIONALIZANTE</h4>
                                       <li>Práctica Sumarial II</li>
                                       <li>Práctica Operativa Policial II</li>
                                       <li>Prácticas de Servicios Internos y Policía Comunitaria</li>
                                   </ol>
                                   <li><h4><strong>TERCER AÑO</strong></h4></li>
                                   <ol><h4>ÁREA DE FORMACIÓN GENERAL</h4>
                                       <li>Administración Pública</li>
                                       <li>Informática</li>
                                       <li>Ingles</li>
                                       <h4>ÁREA DE FORMACIÓN DE FUNDAMENTO</h4>
                                       <li>Comunicación Social</li>
                                       <li>Derecho Administrativo II</li>
                                       <li>Relaciones Pública y Oratoria</li>
                                       <li>Gestión y Promoción de la Seguridad Pública</li>
                                       <li>Derecho Procesal Penal</li>
                                       <h4>ÁREA DE FORMACIÓN ESPECÍFICA</h4>
                                       <li>Técnicas de la Investigación Criminalística</li>
                                       <li>Seguridad e Higiene Laboral</li>
                                       <li>Bioseguridad y Primeros Auxilios</li>
                                       <li>Intervenciones Operativas Policiales III</li>
                                       <li>Estadística Aplicada</li>
                                       <li>Educación Física y Defensa Personal III</li>
                                       <h4>ÁREA DE PRÁCTICA PROFESIONALIZANTE</h4>
                                       <li>Práctica Sumarial III</li>
                                       <li>Práctica Operativa Policial III</li>
                                       <li>Prácticas de Servicios Internos y Comisarías</li>
                                   </ol>
                               </ul>
                        </div>
                    </div>
            </div>
            </div>
        </div>

        <div class="col-lg-6  col-md-6 col-sm-6" data-scroll-reveal="enter from the bottom after 0.5s">
            <div class="about-div">
                <h3 class="text-center">Oficial Sub-Ayudante - Técnico Superior en Seguridad Pública con Orientación en Sistema Penitenciario, del Servicio Penitenciario de Tucumán</h3>
                <!-- <hr/>                 -->
                <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p> -->
                <div class="panel panel-default" data-scroll-reveal="enter from the bottom after 0.7s">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#programapenit" class="collapsed">
                          <strong>+</strong> PROGRAMA 
                        </a>
                    </h4>
                </div>
                    <div id="programapenit" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <ul>
                                <li><h4><strong>PRIMER AÑO</strong></h4></li>       
                                <ol><h4>ÁREA DE FORMACIÓN GENERAL</h4>
                                      <li>Relaciones Estado - Sociedad</li>
                                      <li>Problemáticas Socioculturales Contemporáneas</li>
                                      <li>Psicología Criminológica</li>
                                      <li>Psicología de la Personalidad</li>
                                      <h4>ÁREA DE FORMACIÓN DE FUNDAMENTO</h4>
                                      <li>Teoría del Derecho y la Justicia</li>
                                      <li>Derecho Constitucional y Federal</li>
                                      <li>Comunicación y Cultura</li>
                                      <li>Derecho Penal I</li>
                                      <h4>ÁREA DE FORMACIÓN ESPECÍFICA</h4>
                                      <li>Uso Racional de Dispositivos Contextualizados de la Coerción</li>
                                      <li>Organización y Legislación Penitenciaria</li>
                                      <li>Educación Física y Defensa Personal I</li>
                                      <li>Ciencia Penitenciaria</li>
                                      <h4>ÁREA DE PRÁCTICA PROFESIONALIZANTE</h4>
                                      <li>Práctica Penitenciaria I</li>
                                </ol><br><br><br><br>
                                <li><h4><strong>SEGUNDO AÑO</strong></li></h4>
                                <ol>  <h4>ÁREA DE FORMACIÓN GENERAL</h4>
                                      <li>Psicología Institucional</li>
                                      <li>Comunicación Social</li>
                                      <li>Metodología de la Investigación</li>
                                      <h4>ÁREA DE FORMACIÓN DE FUNDAMENTO</h4>
                                      <li>Derecho Administrativo I</li>
                                      <li>Derecho Civil</li>
                                      <li>Derechos Humanos</li>
                                      <li>Derecho Penal II</li>
                                      <li>Derecho Procesal</li>
                                      <h4>ÁREA DE FORMACIÓN ESPECÍFICA</h4>
                                      <li>Uso Racional de Dispositivos Contextualizados de la Coerción</li>
                                      <li>Criminología I</li>
                                      <li>Mediación y Resolución de Conflictos</li>
                                      <li>Protección Contra Siniestros</li>
                                      <li>Instrucción Penitenciaria I</li>
                                      <li>Educación Física y Defensa Personal II</li>
                                      <h4>ÁREA DE PRÁCTICA PROFESIONALIZANTE</h4>
                                      <li>Práctica Penitenciaria II</li>
                                </ol><br><br>
                                <li><h4><strong>TERCER AÑO</strong></li></h4>
                                <ol><h4>ÁREA DE FORMACIÓN GENERAL</h4>
                                      <li>Fundamentos de Ética y Ética Aplicada a Derechos Humanos</li>
                                      <li>Informática</li>
                                      <li>Psicología Social y Comunitaria</li>
                                      <li>Estadística Aplicada</li>
                                      <h4>ÁREA DE FORMACIÓN DE FUNDAMENTO</h4>
                                      <li>Administración Organizacional y Recursos Humanos</li>
                                      <li>Derecho Administrativo II</li>
                                      <li>Derecho Procesal Penal II</li>
                                      <li>Uso Racional de los Dispositivos Contextualizados de la Coerción</li>
                                      <h4>ÁREA DE FORMACIÓN ESPECÍFICA</h4>
                                      <li>Régimen Penitenciario</li>
                                      <li>Bioseguridad y Primeros Auxilios</li>
                                      <li>Criminología II</li>
                                      <li>Instrucción Penitenciaria</li>
                                      <li>Procedimientos Penitenciarios</li>
                                      <li>Seguridad e Higiene Laboral</li>
                                      <li>Educación Física y Defensa Personal III</li>
                                      <h4>ÁREA DE PRÁCTICA PROFESIONALIZANTE</h4>
                                      <li>Prácticas Penitenciarias III</li>
                                </ol>
                                <br>
                            </ul>
                              
                            
                        </div>
                    </div>
            </div>
            </div>
        </div>                                      
    </div>

    <!-- for sm and xs screens -->

    <div class="row hidden-lg hidden-md" >              
        <div class="col-lg-6  col-md-6 col-sm-6" data-scroll-reveal="enter from the bottom after 0.4s">
            <div class="about-div">
                <h3 class="text-center">Oficial Sub-Ayudante - Técnico en seguridad pública de la Policía de Tucumán</h3>
                <!-- <hr> -->
                
                <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p> -->
                <div class="panel panel-default" data-scroll-reveal="enter from the bottom after 0.7s">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#programapolicxs" class="collapsed">
                          <strong>+</strong> PROGRAMA 
                        </a>
                    </h4>
                </div>
                    <div id="programapolicxs" class="panel-collapse collapse programas" style="height: 0px;">
                        <div class="panel-body">
                             <ul>
                                   <li><strong>Primer Año</strong></li>
                                   <ol>
                                       <li>Indroducción al Derecho</li>
                                       <li>Derecho Constitucional y Federal</li>
                                       <li>Derecho Penal I</li>
                                       <li>Práctica Sumarial I</li>
                                       <li>Geografía</li>
                                       <li>Primeros Auxilios</li>
                                       <li>Toxicomanía Socio-Cultural</li>
                                       <li>Medicina Legal I</li>
                                       <li>Expresión Oral y Escrita</li>
                                       <li>Introducción a la Criminalística y Balística Judicial</li>
                                       <li>Ética y Deontología Cristiana</li>
                                       <li>Educación Física I</li>
                                       <li>Instrucción Policial I</li>
                                   </ol>
                                   <br>
                                   <li><strong>Segundo Año</strong></li>
                                   <ol>
                                       <li>Derecho Procesal I</li>
                                       <li>Medicina Legal II</li>
                                       <li>Derecho Penal II</li>
                                       <li>Operaciones Policiales</li>
                                       <li>Inteligencia Policial</li>
                                       <li>Relaciones Públicas, Protocolo y Ceremonial</li>
                                       <li>Práctica Sumarial II</li>
                                       <li>Huellas y Rastros</li>
                                       <li>Psicología Aplicada a la Función Policial I</li>
                                       <li>Educación Física II</li>
                                       <li>Instrucción Policial II</li>
                                   </ol>
                                   <li><strong>Tercer Año</strong></li>
                                   <ol>
                                       <li>Emergencias Siniestrales</li>
                                       <li>Derecho Penal III</li>
                                       <li>Sociología General</li>
                                       <li>Inglés Técnico</li>
                                       <li>Informática</li>
                                       <li>Práctica Sumarial III</li>
                                       <li>Derecho Procesal II</li>
                                       <li>Planimetría</li>
                                       <li>Psicología Aplicada a la Función Policial I</li>
                                       <li>Accidentología Vial</li>
                                       <li>Educación Física III</li>
                                       <li>Instrucción Policial III</li>
                                   </ol>
                               </ul>
                        </div>
                    </div>
            </div>
            </div>
        </div>

        <div class="col-lg-6  col-md-6 col-sm-6" data-scroll-reveal="enter from the bottom after 0.5s">
            <div class="about-div">
                <h3 class="text-center">Oficial Sub-Ayudante - Técnico Superior en Seguridad Pública con Orientación en Sistema Penitenciario, del Servicio Penitenciario de Tucumán</h3>
                <!-- <hr/>                 -->
                <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p> -->
                <div class="panel panel-default" data-scroll-reveal="enter from the bottom after 0.7s">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#programapenitxs" class="collapsed">
                          <strong>+</strong> PROGRAMA 
                        </a>
                    </h4>
                </div>
                    <div id="programapenitxs" class="panel-collapse collapse programas" style="height: 0px;">
                        <div class="panel-body">
                            <ul>
                                <li><strong>Primer Año</strong></li>       
                                <ol>
                                    <li>Derecho Penal I</li>
                                    <li>Introducción al Derecho</li>
                                    <li>Derecho Constitucional y Federal</li>
                                    
                                    <li>Organización y Legislación Penitenciario</li>
                                    <li>Penología</li>
                                    <li>Primeros Auxilios</li>
                                    <li>Toxicomanía y Narcotráfico</li>
                                    <li>Introducción a la Criminalistica y Balística</li>
                                    
                                    <li>Expresión Oral y Escrita</li>
                                    <li>Psicología General</li>
                                    <li>Sociología</li>
                                    <li>Teoría del Aprendizaje del Adulto</li>
                                    
                                    <li>Instrucción Policial I</li>
                                    <li>Educación Física y Defensa Personal</li>
                                </ol>
                                <li><strong>Segundo Año</strong></li>
                                <ol>
                                    
                                    <li>Derecho Penal II</li>
                                    <li>Derecho Procesal</li>
                                    
                                    <li>Criminología</li>
                                    <li>Práctica Sumarial</li>
                                    
                                    <li>Relaciones Públicas, Protocolo y Ceremonial</li>
                                    <li>Fundamentos de la Etica, Etica Aplicada y Der. Humanos</li>
                                    <li>Psicología Social</li>
                                    <li>Dinámica y Técnica de Grupo</li>
                                    
                                    <li>Instrucción Policial II</li>
                                    <li>Educación Fisica II y Defensa Personal</li>
                                    
                                    <li>Policia y Páctica Penitenciaria (2do Cuatrimestre)</li>
                                </ol>
                                <li><strong>Tercer Año</strong></li>
                                <ol>
                                    <li>Derecho Penal III</li>
                                    <li>Régimen Penitenciario</li>
                                    <li>Operaciones Penitenciarias</li>
                                    <li>Administración de Empresas y de Recursos Humanos</li>
                                    <li>Metodología de Investigación</li>
                                    <li>Estadística</li>
                                    <li>Psicologia Institucional</li>
                                    <li>Informática</li>
                                    <li>Ingles Técnico</li>
                                    <li>Instruccion Policial III</li>
                                    <li>Educación Física III y Defensa Personal</li>
                                    <li>Pasantía</li>
                                </ol>
                                
                            </ul>
                              
                            
                        </div>
                    </div>
            </div>
            </div>
        </div>
                                      
    </div>

    <!-- end sm and xs screens -->


</div>
   <!-- FEATURES SECTION END-->

<div id="faculty-sec" >
    <div class="container set-pad autorities">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 header-line-autorities">
                <h1 data-scroll-reveal="enter from the bottom after 0.2s" class="">AUTORIDADES</h1>
                <!-- <p data-scroll-reveal="enter from the bottom after 0.3s">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo.
                </p> -->
            </div>

        </div>
         <!--/.HEADER LINE END-->

        <div class="row" > 
             <div class="col-lg-6  col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3" data-scroll-reveal="enter from the bottom after 0.5s">
                <div class="faculty-div text-center">
                    <img src="{{=URL('static','img/autoridades/ravila.png')}}" alt="rector" width="140px" height="140px" class="img-rounded img-circle center-block" />
                    <h3>RAMÓN ANTONIO ÁVILA</h3>
                    <!-- <hr /> -->
                    <h4>Comisario Inspector <br /> Rector</h4>
                </div>
            </div>
        </div>

        <div class="row" > 
             <div class="col-lg-6  col-md-6 col-sm-6" data-scroll-reveal="enter from the bottom after 0.5s">
                <div class="faculty-div text-center">
                    <img src="{{=URL('static','img/autoridades/lbquiroga.png')}}" alt="rector" width="140px" height="140px" class="img-rounded img-circle center-block" />
                    <h3>LILIANA BEATRIZ QUIROGA</h3>
                    <!-- <hr /> -->
                    <h4>Subcomisario <br /> Secretaría Académica</h4>
                </div>
            </div>
            <div class="col-lg-6  col-md-6 col-sm-6" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="faculty-div text-center">
                    <img src="{{=URL('static','img/autoridades/mafernandez.png')}}" width="140px" height="140px" class="img-rounded img-circle center-block" />
                    <h3 >MAURO ALBERTO FERNÁNDEZ</h3>
                    <h4>Comisario Principal<br /> Jefe de Compañia</h4>    
                </div>
            </div>
        </div>

        <div class="row">           
            <div class="col-lg-6  col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3" data-scroll-reveal="enter from the bottom after 0.6s">
                <div class="faculty-div text-center">
                    <img src="{{=URL('static','img/autoridades/jfibanezpalacios.png')}}" width="140px" height="140px" class="img-rounded img-circle center-block" />
                    <h3>JORGE FABIÁN IBÁÑEZ PALACIOS</h3>
                    <!-- <hr /> -->
                    <h4>Subcomisario<br />Jefe Sección Ed. Física</h4>           
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FACULTY SECTION END-->
     
<div class="container">
    <div class="row set-row-pad"  >
        <div class="col-lg-12 col-md-12 col-sm-12" data-scroll-reveal="enter from the bottom after 0.4s">
            <h2><strong>Ubicación:</strong></h2>
            <hr/>
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div id="map"></div>                
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4 ubicacion">
                    <address>
                         <i class="fa fa-map-marker" aria-hidden="true"></i> <strong> Dirección</strong><br>
                          Muñecas 1025 <br>
                          San Miguel de Tucumán <br>
                          Tucumán <br><br>
                          <i class="fa fa-phone" aria-hidden="true"></i><strong> Telefono</strong><br> 
                          +54 381 4305141
                    </address>
                </div>
            </div>
        </div>          
    </div>
<!--             <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1" data-scroll-reveal="enter from the bottom after 0.4s">

                <h2><strong>Nuestras Redes </strong></h2>
            <hr>
                <div>
                    <a href="#">  <img src="{{=URL('static','img/Social/facebook.png')}}" alt="" /> </a>
                    <a href="#"> <img src="{{=URL('static','img/Social/google-plus.png')}}" alt="" /></a>
                    <a href="#"> <img src="{{=URL('static','img/Social/twitter.png')}}" alt="" /></a>
                </div>
            </div> -->

  </div>
</div>
     <!-- CONTACT SECTION END-->
    <div id="footer">
          <h5>I. E. S. de Policía "Gral. José Francisco de San Martín" | &copy 2017 MSC </h5>  
    </div>
     <!-- FOOTER SECTION END-->

{{end}}

{{block script}}

  <script>
    function initMap() {
      var ies = {lat: -26.816464, lng: -65.202848};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: ies
        });
        var marker = new google.maps.Marker({
          position: ies,
          map: map
        });
      }
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT6HCKHpWzufPNz0FTO6z8dslZyY2orVQ&callback=initMap">
  </script>

  <script>
    $(document).ready(function() {
        $(".curriculas").on("click", function(){
          $('#programapenit').collapse('show');
          $('#programapolic').collapse('show');
        });    
    });
  </script>

  <script>
    function checkScroll(){
    var startY = $('.navbar').height() * 8; //The point where the navbar changes in px

    if($(window).scrollTop() < startY){
        $('.navbar').addClass("navbar-transparent");
    }else{
        $('.navbar').removeClass("navbar-transparent");
    }
}

if($('.navbar').length > 0){
    $(window).on("scroll load resize", function(){
        checkScroll();
    });
}
  </script>
 
{{end}}
