{{extend 'layout_institutional.html'}}


{{block navbar}}

    {{include 'navbar-2.html'}}

{{end}}


{{block header}}

	<link rel="stylesheet" href="{{=URL('static','css/style-enrollment.css')}}">	

{{end}}

{{block content}}
<div id="fh5co-main">

	<div class="fh5co-cards">
		{{if response.flash:}}
			<div class="alert alert-warning alert-dismissible fade in" role="alert">
        		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
         			<span aria-hidden="true">×</span>
        		</button>
        	<strong>¡ERROR! </strong> {{=response.flash}}
      </div>
		{{pass}}
		<h2 class="text-center title">Ingreso 2018</h2>
		<div class="">
			<div class="row">
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="fh5co-card" href="#">
						<div class="fh5co-card-body">
							<h3 class="text-center">Preinscripción Ingreso 2018</h3>
							<p>Sección habilitada desde las <strong>00:00 hs del 01/12/17</strong> hasta las <strong>23:59 hs del 10/12/17</strong>.</p>
							<a class="btn btn-primary btn-block" style="margin-top:20px;" href="#">Preinscribirse</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="fh5co-card" href="#">
						<div class="fh5co-card-body">
							<h3 class="text-center">FORMULARIO</h3>
							<p>Imprima su formulario de preinscripción</p>
							{{=form}}
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4 col-sm-6 animate-box">
					<a class="fh5co-card" href="{{=URL('default','entry_requirements')}}">
						<div class="fh5co-card-body">
							<h3 class="text-center">Requisitos</h3>
							<p>Requisitos para el Ingreso como Cadete al I.E.S.
							</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<a class="fh5co-card" href="{{=URL('default','entry_program')}}">
						<div class="fh5co-card-body">
							<h3 class="text-center">Programa de Ingreso 2018</h3>
							<p>Programas de Conocimientos Intelectuales. Comprenden áreas de lengua, geografía, historia y aptitud física.</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>	

{{end}}

{{block script}}
	<script src="{{=URL('static','js/moment-with-locales.js')}}"></script>
    <script>        
        $(document).ready(function(){
            $("body").css({'padding-top':'80px'});
    </script>
{{end}}