/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 40px;
}

/*#menu {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
}*/
.navbar{
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
    transition: background-color .75s ease 0s;
}

.navbar-inverse {
    border-color: transparent;
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
        color: #FFF;
        padding: 22px 10px;
    }
.dropdown-menu{
    font-size:15px;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand span {
    margin-left: 10px;
}

/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    
    /*margin-top: -70px;*/
    /*padding-top: 10px;
    padding-bottom: 60px;*/
    /*background: url(../../img/slide-show/9deJulio2016.jpg) no-repeat fixed center;*/
    padding: 0;
    /*-webkit-background-size: cover;
    background-size: cover;*/
    color: #000;
    /*background-attachment: fixed;*/
}

    .home-sec .overlay {
        /*margin-top: 70px;*/
        /*background: rgba(38, 57, 88, 0.89);*/
        /*opacity: 0.5;*/
        /*min-height: 500px;*/
        overflow-y: hidden;
        max-height: 600px;

    }

    .home-sec .ies-title{
        position: relative;
        float: left;
        /*top: -1.5%;*/
        padding-right: 20px;
        margin-top: 20%;
        max-width: 660px;
    }

    .home-sec .ies-title h1 {
        color: yellow;
        font-weight: 900;
        font-size: 6.1em;
        padding-bottom: 0; 
        vertical-align: bottom;       
    }

    .home-sec .ies-title h2{
        color: yellow;
        font-weight: 900;
        font-size:2.2em;
        padding:0;
        margin-top: 5px;
        text-align: center;
    }

    .home-sec h3 {
        text-transform: uppercase;
    }
    .home-sec > .row{
        margin-right: 0;
        margin-left: 0;
    }

    .home-sec > .row > div{
        padding-left: 0;
        padding-right: 0;
    }
    .home-sec > .overlay > .container{
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        opacity: 0.2;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    /*display: block;*/
    max-height:80vh;
    height: 100vh;
    min-width: 100%;
    /*width: 100%;*/
    /*max-width: 100%;*/
    line-height: 1;
    overflow-x: hidden;
}


.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 120px;
}

.flex-control-nav {
    display: none!important;
}

.set-flexi a {
    margin: 5px;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/

.tag-line {
    background: url(../../img/stripped-band.png) repeat;
    color: #000;
    max-height: 20px;
    min-height: 20px;
    height: 20px;
}

    .tag-line h2 {
        font-size: 25px;
        font-weight: 900;
        padding: 15px 10px 20px 5px;
        color: #005E5A;
    }

        .tag-line h2 > i {
            margin-left: 8px;
            margin-right: 8px;
        }
    .tag-line .container {
        margin-bottom: 100px;
    }
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 30px;
    font-style: normal;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #756d6d;
}

/*
h1::after {
    content: " ";
    border: solid 2px #B7D800;
    display: block;
    width: 300px;
    margin: 12px auto;*/
}

/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    min-height: 110px;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}
/*=====================================
  FACULTY STYLES 
  ===================================*/
#faculty-sec {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    padding-bottom: 150px;
}

    #faculty-sec .header-line-autorities {
        color: #fff;
    }
.faculty-div h4 {
    line-height:30px;
    font-weight:600;
    margin-top: 0;
    margin-bottom: 10px;

}
.faculty-div {
    padding: 0 30px;
}

    .faculty-div hr {
        border: 1px solid #1A94C4;
    }

    .faculty-div h3 {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .faculty-div p {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    /*.faculty-div img {
        border: 10px double #fff;
    }*/


  /*==================================
    ACADEMIC OFERT
    ================================= */

    #features-sec {
        padding-top: 75px;
        padding-bottom: 50px;
    }


/*=====================================
  CONTACT STYLES 
  ===================================*/

#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/contact.jpg) no-repeat fixed center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#contact-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
        min-height: 600px;
    }

    #contact-sec h1 {
        color:#fff;
    }
#contact-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
}

.footer {
    margin: 0;
}

.item {
    color: #B7D800;
}

.stripped-band{
    background: url(../../img/stripped-band.png) repeat;
    max-height: 20px;
}

.title {
    margin: 15px;
    text-align: center;
    text-shadow: 
}

.subtitle {
    font-size: 16px;
    margin: 25px 25px;
}

.post-body {
    font-size: 14px;
}

.post-leftbar{
    margin-top: 3px;
}

.post-leftbar h3{
    margin-top: 30px;
}
.post-image {
    padding-top: 25px;
    margin: 10px;
    display: block;
    max-width: 800px;
    max-height: 400px;
    width: 80%;
    height: auto;
}

.post-show-image{
    display: block;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
    /*display:block;
    min-width: 100%;
    width: 100%;
    height: auto;*/
}

#map {
    width: 100%;
    height: 300px;
}

.ubicacion {
    height: 240px;
    margin-top: 60px;
    vertical-align: middle;
    font-size: 16px;
}

.blog-sidebar {
    padding: 10px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #FFF8F8 ;
}

.header-line-autorities h1{
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #fff;
}

.header-line-autorities hr{
        border: 1px solid #1A94C4;
        margin-top: 10px;
        margin-bottom: 20px;

}

.features-sec-title{
  
}

.post .text{
    margin-top: 50px;
    margin-bottom: 60px;
}

.post-image{
    width: 100%;
    /*max-height: 100%;*/
}

.post > .text h2{
    margin-top: 10px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    text-transform: uppercase;
    font-size: 30px;
    font-style: normal;
}

.post > .text{
    position:;
}

.programs{
margin-bottom: 200px;
}

.programs .panel-heading{
    background-color: #1c2c4c;
    color: #fff;
}

.latest-post{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.latest-post:hover{
        box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.sidebar{
    margin-top: 85px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    color: #fff;
    background-color: #182950;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
    color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu{
    background-color: #282f56;
}

.sidebar .row .panel .panel-heading{
    color: #ffffff;
    background-color: #1c2a4a;
    border-color: #bce8f1;
}

.sidebar .row .panel{
    
}

/*.mbYTP_wrapper{
    position: fixed;
    position: relative;
    padding-bottom: 56.25%;
}

.mbYTP_wrapper iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}*/



.player{
    position: relative;
    padding-bottom: 56.25%;
}

.player .presentacion{
    margin: 0;
    position: absolute;
    background-color: #3A3A3A;
    width: 100%;
    height: 100%    ;
    opacity: 0.5;
}

.player .presentacion div{

}

/* Add the below transitions to allow a smooth color change similar to lyft */

.navbar-transparent{
   background-color: transparent;
}

.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus{
    background-color: transparent;
}

.navbar-transparent .navbar-nav .open .dropdown-menu{
    background-color: transparent;
    border: 1px solid ##C1AEAE;
}

/*Change properties on mobile*/
@media only screen and (max-width: 768px) {
    .navbar-transparent {
        background-color: rgb(28, 43, 75);
    }
    .home-sec{
        margin-top: 70px;
    }
    .promocion-body ul{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        list-style-type: none;
    }
}

@media (max-width: 650px){
    .promocion-body ul{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        list-style-type: none;
    }
}

@media (min-width: 650px){
    .promocion-body ul{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        list-style-type: none;
    }
}

}

/*#########################
    Mobile carrousel view
  #########################*/
.mobile{

}

.btn-read-more{
    margin-left: 10px;
    margin-top: 10px;
}

.container-show{
    margin-left: 0;
    margin-right: 0;
}

.container-show .row{
    margin-left: 0;
    margin-right: 0;
}
.container-show .row .show-post-img{
    padding-left: 0;
    padding-right: 0;
}

.show-post-img{
    margin-top: 70px;
    max-height: 450px;
    overflow-y: hidden;
}

.show-post-content{

}

.show-post-content h1{
    position: normal;
    display: block;
    font-family: 'Playfair Display SC', serif;
    font-size: 35px;
    margin-bottom: 10px;
}

.show-post-content h3{
    position: normal;
    display: block;
    font-size: 25px;
    color: #A38787;
    margin-bottom:30px;
}

.post-content h1{
    font-size: 22px;
}

.post-content h2{
    font-size: 19px;
}

.post-content h3{
    font-size: 16px;
}

.post-content h4{
    font-size: 14px;
}

.post-content p{
    font-size: 14px;
}

.swiper-container {
        width: 100%;
        height: 800px;
        padding-top: 50px;
        padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-wrapper{
    width: 300px;
    height: 300px;
}

.swiper-slide-active{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}


.active-container h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
}

.active-container .row .col-md-* .ul .li {
    font-size: 10px;
}

.promociones{
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
}

.promociones h1{
    margin-bottom: 20px;
    font-family: 'Playfair Display SC', serif;
}

.promocion-heading{
    background-color: #1c2c4c;
    border: 1px solid #1c2c4c;
}

.promocion-heading h4{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 15px;
    text-decoration: none;
}

.promocion-heading h4:hover{
    text-decoration: none;
}

.promocion-body{
    margin-left:20px;
}



.history{
    margin-top: 80px;
}

.history>div>div>h1{
    margin-bottom: 20px;
    font-family: 'Playfair Display SC', serif;
}

.history>div>div>p{
    text-indent: 35px;
    font-size: 16px;
}

.history>div>div>ul{
    margin-left: 70px;
    padding-left: 0;
    font-size: 16px;
}
