/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 40px;
}

#menu {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
}


.navbar-inverse {
    border-color: transparent;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
        color: #FFF;
        padding: 22px 10px;
    }
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    
    margin-top: 70px;
    /*padding-top: 10px;
    padding-bottom: 60px;*/
    /*background: url(../../img/slide-show/9deJulio2016.jpg) no-repeat fixed center;*/
    padding: 0;
    /*-webkit-background-size: cover;
    background-size: cover;*/
    color: #000;
    /*background-attachment: fixed;*/
}

    .home-sec .overlay {
        /*margin-top: 70px;*/
        /*background: rgba(38, 57, 88, 0.89);*/
        /*opacity: 0;*/
        /*min-height: 500px;*/
        max-height: 600px;
    }

    .home-sec h1 {
        color: #000;
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
        padding-top: 70px;
        padding-bottom: 30px; 
        vertical-align: bottom;       
    }

    .home-sec h3 {
        text-transform: uppercase;
    }
    .home-sec > .row{
        margin-right: 0;
        margin-left: 0;
    }

    .home-sec > .row > div{
        padding-left: 0;
        padding-right: 0;
    }
    .home-sec > .overlay > .container{
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-height:500px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}


.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 120px;
}

.flex-control-nav {
    display: none!important;
}

.set-flexi a {
    margin: 5px;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/

.tag-line {
    background: url(../../img/stripped-band.png) repeat;
    color: #000;
    max-height: 20px;
}

    .tag-line h2 {
        font-size: 25px;
        font-weight: 900;
        padding: 15px 10px 20px 5px;
        color: #005E5A;
    }

        .tag-line h2 > i {
            margin-left: 8px;
            margin-right: 8px;
        }
    .tag-line .container {
        margin-bottom: 100px;
    }
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
}
/*
h1::after {
    content: " ";
    border: solid 2px #B7D800;
    display: block;
    width: 300px;
    margin: 12px auto;*/
}

/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    min-height: 110px;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}
/*=====================================
  FACULTY STYLES 
  ===================================*/
#faculty-sec {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    padding-bottom: 150px;
}

    #faculty-sec .header-line-autorities {
        color: #fff;
    }
.faculty-div h4 {
    line-height:30px;
    font-weight:600;
    margin-top: 0;
    margin-bottom: 10px;

}
.faculty-div {
    padding: 0 30px;
}

    .faculty-div hr {
        border: 1px solid #1A94C4;
    }

    .faculty-div h3 {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .faculty-div p {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    /*.faculty-div img {
        border: 10px double #fff;
    }*/

/*=====================================
  CONTACT STYLES 
  ===================================*/
#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/contact.jpg) no-repeat fixed center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#contact-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
        min-height: 600px;
    }

    #contact-sec h1 {
        color:#fff;
    }
#contact-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
}

.item {
    color: #B7D800;
}

.stripped-band{
    background: url(../../img/stripped-band.png) repeat;
    max-height: 20px;
}

.title {
    margin: 15px;
    text-align: center;
    text-shadow: 
}

.subtitle {
    font-size: 16px;
    margin: 25px 25px;
}

.post-body {
    font-size: 14px;
}

.post-image {
    margin: 10px;
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    float: left;
}

#map {
    width: 100%;
    height: 300px;
}

.ubicacion {
    height: 240px;
    margin-top: 60px;
    vertical-align: middle;
    font-size: 16px;
}

.blog-sidebar {
    padding: 10px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #FFF8F8 ;
}

.header-line-autorities h1{
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #fff;
}

.header-line-autorities hr{
        border: 1px solid #1A94C4;
        margin-top: 10px;
        margin-bottom: 20px;

}

.features-sec-title{
  
}

.post .text{

}
.post-image{
    width: 110px;
    height: 110px;
}
.post > .text h4{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.programs{
margin-bottom: 200px;
}

.latest-post{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.latest-post:hover{
        box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.sidebar{
    margin-top: 85px;
}