{{#hidden = None if auth.user else 'hidden'}}

{{if auth.user and is_user_member('Admin'):}}

<ul class="sidebar-menu">

    <li class="header">Blog Post</li>

    <li class="treeview">
    {{=sidebar_menu_item(T('Blog'), icon='newspaper-o')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Posts', URL('post', 'list'), icon='list')}}
        {{=sidebar_menu_item('Create Post', URL('post', 'create'), icon='pencil-square-o')}}
        {{=sidebar_menu_item('View Categories', URL('post_category', 'list'), icon='list')}}
        {{=sidebar_menu_item('Create Category', URL('post_category', 'create'), icon='pencil-square-o')}}

        </ul>
    </li>

    <li class="treeview">
    {{=sidebar_menu_item(T('Shifts'), icon='clock-o')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Shifts', URL('shift', 'list'), icon='list')}}
        {{=sidebar_menu_item('Insert Shifts', URL('shift', 'shifts_for_day'), icon='pencil-square-o')}}
        {{=sidebar_menu_item('Assign Shift', URL('shift_candidate', 'create'), icon='pencil-square-o')}}
        {{=sidebar_menu_item('Assign Shift List', URL('shift_candidate', 'list_to_xls'), icon='table')}}
              </ul>
    </li>

    <li class="header">{{=T('Exams')}}</li>
    {{if auth.user and is_user_member('Super Admin'):}}
    <li class="treeview">
    {{=sidebar_menu_item(T('Inscription'), icon='university')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Inscriptions', URL('inscription', 'list'), icon='list')}}
        {{=sidebar_menu_item('Create Inscription', URL('inscription', 'create'), icon='pencil-square-o')}}

        </ul>
    </li>
    {{pass}}

    <li class="treeview">
    {{=sidebar_menu_item(T('Notifications'), icon='university')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Notification', URL('notification', 'list'), icon='list')}}
        {{=sidebar_menu_item('Create Notification', URL('notification', 'write'), icon='pencil-square-o')}}
        </ul>
    </li>


    <li class="treeview">
    {{=sidebar_menu_item(T('Height'), icon='arrows-v')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Heights Exams', URL('height', 'list'), icon='list')}}
        {{=sidebar_menu_item('Insert Heights Results', URL('height', 'create'), icon='pencil-square-o')}}                
        </ul>
    </li>

    <li class="treeview">
    {{=sidebar_menu_item(T('Intellectual Exam'), icon='pencil')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Intellectuals Exams', URL('intellectual_exam', 'list'), icon='list')}}
        {{=sidebar_menu_item('Insert Intellectual Exams Results', URL('intellectual_exam', 'create'), icon='pencil-square-o')}}
        {{if auth.user and is_user_member('Super Admin'):}}        
            <li><a href="#" data-toggle="modal" data-target="#intel_modal"><i class="fa fa-pencil-square-o"><span> {{=T('Launch Intelectual Exam')}}</span></i></a>
        {{pass}}
        </ul>
    

    <li class="treeview">
    {{=sidebar_menu_item(T('Medical Exam'), icon='stethoscope')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Medical Exams', URL('medical_exam', 'list'), icon='list')}}
        {{=sidebar_menu_item('Insert Medical Exam Results', URL('medical_exam', 'create'), icon='pencil-square-o')}}
        {{if auth.user and is_user_member('Super Admin'):}}
             <li><a href="#" data-toggle="modal" data-target="#medical_modal"><i class="fa fa-pencil-square-o"><span> {{=T('Launch Medical Exam')}}</span></i></a>
        {{pass}}
        </ul>
    </li>

    <li class="treeview">
    {{=sidebar_menu_item(T('Physical Exam'), icon='heartbeat')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Physicals Exams', URL('physical_exam', 'list'), icon='list')}}
        {{=sidebar_menu_item('Insert Physicals Results', URL('physical_exam', 'create'), icon='pencil-square-o')}}
        {{if auth.user and is_user_member('Super Admin'):}}
             <li><a href="#" data-toggle="modal" data-target="#physical_modal"><i class="fa fa-pencil-square-o"><span> {{=T('Launch Physical Exam')}}</span></i></a>
        {{pass}}  
        </ul>
    </li>

    <li class="treeview">
    {{=sidebar_menu_item(T('GPE'), icon='university')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View GPE', URL('groupal_psychological_examination', 'list'), icon='list')}}
        {{=sidebar_menu_item('Insert GPE', URL('groupal_psychological_examination', 'create'), icon='pencil-square-o')}}
        {{if auth.user and is_user_member('Super Admin'):}}
             <li><a href="#" data-toggle="modal" data-target="#gpe_modal"><i class="fa fa-pencil-square-o"><span> {{=T('Launch GPE')}}</span></i></a>
        {{pass}}
        </ul>
    </li>

     <li class="treeview">
    {{=sidebar_menu_item(T('Psychological Interview'), icon='university')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View ', URL('psychological_interview', 'list'), icon='list')}}
        {{=sidebar_menu_item('Insert Psychological Interview Results', URL('psychological_interview', 'create'), icon='pencil-square-o')}}
        {{if auth.user and is_user_member('Super Admin'):}}
             <li><a href="#" data-toggle="modal" data-target="#psycho_modal"><i class="fa fa-pencil-square-o"><span> {{=T('Launch Psychological Interview')}}</span></i></a>
        {{pass}}
        </ul>
    </li>

     <li class="treeview">
    {{=sidebar_menu_item(T('Exams Schedule'), icon='university')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Schedules', URL('schedule', 'list'), icon='list')}}
        {{=sidebar_menu_item('Insert New Schedule', URL('schedule', 'create'), icon='pencil-square-o')}}
        </ul>
    </li>



    <li class="treeview {{=user_visibility('Super Admin')}}">
    {{=sidebar_menu_item('Admin', icon='gears')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('Manage Content', URL('content','list'), icon='file-text-o')}}
          {{=sidebar_menu_item('Manage Users', URL('appadmin','manage/users'), icon='users')}}
        </ul>
    </li>

    <li class="treeview {{=user_visibility('Super Admin')}}">
    {{=sidebar_menu_item('Super Admin', icon='gears')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('Manage Auth', URL('appadmin','manage/auth'), icon='wrench')}}
          {{=sidebar_menu_item('Manage Database', URL('appadmin','manage/db'), icon='database')}}
          {{=sidebar_menu_item('Super Admin!', URL('appadmin','#'), icon='cog')}}
        </ul>
    </li>

</ul>

{{pass}}

<!-- Company Info for Guests -->
<!-- 
<ul class="sidebar-menu">

    <li class="header">MENU</li>

{{=sidebar_menu_item('About', URL('default', 'about'), icon='book')}}
{{=sidebar_menu_item('Privacy', URL('default', 'privacy'), icon='book')}}
{{=sidebar_menu_item('Terms of Use', URL('default', 'tou'), icon='book')}}

</ul>
 -->