<nav class="navbar  navbar-inverse navbar-fixed-top navbar-transparent" id="menu">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home"><img src="{{=URL('static','img/logos/ies-brand.png')}}" alt=""><span>IESP "G.J.F.S.M."</span></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse move-me" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!-- <li class="item hidden-sm hidden-xs"><a href="#features-sec">OFERTA ACADEMICA<span class="sr-only">(current)</span></a></li> -->
            <li class="item hidden-sm hidden-xs"><a href="#faculty-sec">AUTORIDADES</a></li>
            <!-- <li class="item hidden-sm hidden-xs"><a href="#course-sec">EGRESADOS</a></li> -->
            <li class="dropdown move-me">
                <a href="#" class="dropdown-toggle item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACTIVIDAD ACADEMICA<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#features-sec">Carreras</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="curriculas" data-toggle="collapse" data-parent="accordion" href="#">Curriculas</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{=URL('graduated','index')}}">Promociones</a></li>

                </ul>
            </li>
            <li class="dropdown move-me">
                <a href="#" class="dropdown-toggle item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EXTENSION ACADEMICA<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {{for category in categories:}}
                        <li><a href="{{=URL('blog', 'show_by_category', args=(category.id))}}">{{=category.name}}</a></li>
                        <li role="separator" class="divider"></li>
                    {{pass}}
                                       
                </ul>
            </li>
            <li class="item"><a href="{{=URL('history','index')}}">HISTORIA</a></li>            
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <!-- <li class="item"><a href="#home">INICIO<span class="sr-only">(current)</span></a></li> -->
            <!-- <li class="item hidden-lg hidden-md"><a href="#features-sec">OFERTA ACADEMICA<span class="sr-only">(current)</span></a></li> -->
            <li class="item hidden-lg hidden-md"><a href="#faculty-sec">AUTORIDADES</a></li>
            <!-- <li class="item hidden-lg hidden-md"><a href="#course-sec">EGRESADOS</a></li>             -->
            <li class="item"><a href="{{=URL('blog','index')}}">NOTICIAS</a></li>
            <!-- <li class="item disabled"><a href="{{=URL('default','login_candidate')}}">ASPIRANTES</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>