*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
      padding-bottom: 50px;
}
header{
      padding: 0;
      border: 0;
      margin: 0;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 300px;
      margin: auto;

  }
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 350px;
    overflow-y: auto;
}
.pass{
  color:green;
}
.rejected{
  color:red;
}
.news{
  background-color:#fff;
  padding-top: 2px;

}
.topic{
  padding-top: 2px;
}

.formwrap{
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  overflow: hidden;
  box-shadow:0 0 3px grey;
  border-bottom: 4px solid #0a73be;
}

form input{
  border 1px solid #0A73BE;
  border-radius: 2px;
  padding: 16px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 1em;
}
