.candidate-profile{
	max-width: 750px;
}

.container{
	
}

.row{
    /*overflow: hidden; */
    
}

/*.equal{
  display: table;
  width: 100%
}

.form-link{
	display: table-cell;
}*/


.ministerio{
	float:top;
	display: block;
}

.wrap-form{
	border: 1px solid black;
	padding: 5px;
	max-width: 950px;
}

.controlate-documentation{
	border: 2px solid black;
    /*box-shadow: 5px 5px 5px #888888;*/
	padding: 20px 30px 30px 30px;	
	text-decoration-line: underline;
	max-width: 500px;
	margin-left: 15px;
	margin-right: 15px;
}

.controlate-documentation h3{
	text-align: center;
}

.sign{
	padding-right: 4px;
	border-top: 1px dotted black;
	margin-right: 25px

}

.school_logo{
	padding: 0;
	border: 0;
	margin: 0;
}

.inscription{
	margin: 2px;
	padding: 3px;
	border: 1px solid black;
}

.form_title{
	padding: 8px;
	text-align: center;
	text-decoration: underline;
	text-shadow: 2px 2px #B6ADAD;
}

.laboratory{

	margin: 2px;
	padding: 3px;
	border: 1px solid black;
}

.laboratory .hemo{
	margin: 2px;
	padding: 3px;
	border: 1px solid black;	
}

.laboratory div h3{
	text-align: center;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #000000;
}

.intellectual-table{
	width: 25%;
	height:75px;
	vertical-align: bottom;
	text-align: center;
}

.col-container{
	display: table;
	width: 100%;
}

.col{
	diplay: table-cell;
}

.pass{
	color:#309833;
}

.nopass{
	color:red;
}

.shift-obs{
	color: red;
	padding-bottom: 10px;
}

.modal-dialog{
      overflow-y;
}
.modal-body{
  height: 630px;
  overflow-y: auto;
}
