button, #sidebar-menu, #main-header, #main-sidebar{
	display: none !important;	
}


.wrap-content{

	border: 2px solid black;
	padding: 5px;
	max-width: 50%;
	min-width: 12.4cm;

}

.wrap-line{
	border: 2px solid black;
	padding: 5px;
}

.logo{
	/*width: 330px;*/
	display: inline-block;
	width: 60%;
}

.logo_ministerio{
	position: relative;
	float: left;
}

.logo_ministerio img{
	height: 83px;
}

.logo_ies{
	position: relative;
	float: right;
	margin-right: 25px;
}

.logo_ies img{
	height: 83px;
}

.wrap{
    display: flex;
    margin-left: 20px;
}
.fixed{
    width: 80mm;
    padding: 10mm;
    margin: 4mm;
    border: 2mm solid black;
}

.fixed h3{
	text-align: center;
	text-decoration: underline;
	vertical-align: middle;
}
.flex-item{
    flex-grow: 1;
}

.flex-item h3{
	text-align: center;
}

.form-title h3{
	text-align: center;
}

.candidate-data{
	margin-left: 20px;
}

.row{
	margin: 20px;
}

.turn{
	
	float: left;
}

.sign{
	border-top:1px dotted #000;
	float:right;
}


/*.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #000000;
}
*/