button, #sidebar-menu, #main-header, #main-sidebar{
	display: none !important;	
}


.candidate-profile{
	max-width: 750px;
}

.row{
    /*overflow: hidden; */
}

.ministerio{
	float:top;
	display: block;
}

.wrap-form{
	border: 1px dotted black;
	padding: 5px;
	max-width: 950px;
}

.controlate-documentation{
	border: 2px solid black;
    box-shadow: 5px 5px 5px #888888;
	padding: 20px 30px 30px 30px;	
	text-decoration-line: underline;
	max-width: 500px;
}

.controlate-documentation h3{
	text-align: center;
}

.sign{
	border-top: 1px dotted black;
	margin-right:25px;
}

.school_logo{
	padding: 0;
	border: 0;
	margin: 0;
}

.form_title{
	text-align: center;
	text-decoration: underline;
}