
.wrap-content{

	border: 2px solid black;
	padding: 5px;
	max-width: 75%;

}

.logo img{
	width: 330px;
	height: 83px;
}

.wrap{
    display: flex;
    margin-left: 20px;
}
.fixed{
    width: 500px;
    padding: 3px;
    margin: 2px;
    border: 1px solid black;
}

.fixed h3{
	text-align: center;
	text-decoration: underline;
	vertical-align: middle;
}
.flex-item{
    flex-grow: 1;
}

.flex-item h3{
	text-align: center;
}

.form-title h3{
	text-align: center;
}

.candidate-data{
	margin-left: 20px;
}