{{extend 'layout_institutional.html'}}

{{block navbar}}

    <nav class="navbar  navbar-inverse navbar-fixed-top" id="menu">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{=URL('default','index#home')}}"><img src="{{=URL('static','img/logos/ies-brand.png')}}" alt=""><span>IESP "G.J.F.S.M."</span></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse move-me" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!-- <li class="item"><a href="{{=URL('default', 'index#home')}}">INICIO<span class="sr-only">(current)</span></a></li> -->
            <li class="item hidden-sm hidden-xs"><a href="{{=URL('default', 'index#faculty-sec')}}">AUTORIDADES</a></li>           
            <li class="dropdown">
                <a href="#" class="dropdown-toggle item" data-toggle="dropdown" role="button" aria-githaspopup="true" aria-expanded="false">ACTIVIDAD ACADEMICA<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{=URL('default','index#features-sec')}}">Carreras</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{=URL('graduated','index')}}">Promociones</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EXTENSION ACADEMICA<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {{for category in categories:}}
                        <li><a href="{{=URL('blog', 'show_by_category', args=(category.id))}}">{{=category.name}}</a></li>
                        <li role="separator" class="divider"></li>
                    {{pass}}
                </ul>
            </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <li class="item hidden-lg hidden-md"><a href="{{=URL('default', 'index#faculty-sec')}}">AUTORIDADES</a></li>
            <li><a href="{{=URL('blog','index')}}">NOTICIAS</a></li>
            <!-- <li><a href="{{=URL('default','login_candidate')}}">ASPIRANTES</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{end}}


{{block header}}

	
{{end}}

{{block content}}

	<!-- Page Content -->
    <div class="container">

        {{for post in posts:}}
        <div class="row">
            <div class="col-md-3 pull-left post-leftbar hidden-sm hidden-xs">
                <h2>{{=post.date_of_post}}</h2>
                <h3>{{=post.resume}}</h3>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{=post.title}}</h1>
                        {{if post.picture == "":}}
                        <img class="img-responsive post-image" src="http://placehold.it/900x300" alt="">
                        {{else:}}
                        <img class="img-responsive post-image" src="{{=URL('default','download',args=post.picture)}}" alt="">
                        {{pass}}
                        <a class="btn btn-primary btn-read-more" href="{{=URL('blog', 'show', args=(post.id))}}">{{=T('Read More')}}</a>                        
                    </div>
                </div>
                <!-- <div class="row">   
                    <div class="col-md-12">
                    </div>
                </div> -->               
            </div>
        </div>

        {{pass}}
        <div class="row">                
            <div class="col-md-12 pagination text-center center-block">
            {{if (int(request.vars.page)!=1): }}
                <a href={{=URL(vars={'page':int(request.vars.page)-1})}} class="btn btn-default">{{=T('Previous')}}</a> |
            {{ pass }}
            {{if len(posts)>=5:}}    
                <a href={{=URL(vars={'page':int(request.vars.page)+1})}} class="btn btn-default">{{=T('Next')}}</a>
            {{pass}}    
            </div>                
        </div>
    </div>
            
    <div class="row footer">
        <div id="footer" class="col-md-12">
            <h5>I. E. S. de Policía "Gral. José Francisco de San Martín"</h5>  
        </div>
    </div>



				
{{end}}

{{block script}}

	<script>
		$(document).ready(function(){
			$("body").css({'padding-top':'80px'});
			});
	</script>


{{end}}
