{{extend 'layout_institutional.html'}}

{{block header}}
<header>
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="jumbotron">
  				<h1>Ultimas Novedades</h1>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla porro aut alias hic reiciendis temporibus quis. Doloremque ullam error dolore odit aliquam. Consequuntur fuga omnis vitae tempora quaerat nesciunt non!</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Ver más...</a></p>
			</div>
		</div>
	</div>
</header>
{{end}}

{{block content}}
<div class="row">
	<div class="col-md-3 col-md-offset-1 pull-right">
		<h2>SideBar</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ratione fugiat pariatur labore, saepe illo quae soluta tenetur iure iusto, reiciendis eveniet, consectetur eligendi neque cumque alias nostrum. Voluptate, iste!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ratione fugiat pariatur labore, saepe illo quae soluta tenetur iure iusto, reiciendis eveniet, consectetur eligendi neque cumque alias nostrum. Voluptate, iste!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ratione fugiat pariatur labore, saepe illo quae soluta tenetur iure iusto, reiciendis eveniet, consectetur eligendi neque cumque alias nostrum. Voluptate, iste!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ratione fugiat pariatur labore, saepe illo quae soluta tenetur iure iusto, reiciendis eveniet, consectetur eligendi neque cumque alias nostrum. Voluptate, iste!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ratione fugiat pariatur labore, saepe illo quae soluta tenetur iure iusto, reiciendis eveniet, consectetur eligendi neque cumque alias nostrum. Voluptate, iste!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ratione fugiat pariatur labore, saepe illo quae soluta tenetur iure iusto, reiciendis eveniet, consectetur eligendi neque cumque alias nostrum. Voluptate, iste!</p>
		
	</div>
	<div class="col-md-8">
		<h3>Post Title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis asperiores veritatis nemo aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolore facilis sint earum quibusdam, deleniti blanditiis consequuntur expedita saepe ipsam ut eos, doloribus, non explicabo! Ipsa non velit dignissimos minus.</p>
		<a href="#" class="btn btn-primary">Read More</a>
	</div>
	<div class="col-md-8">
		<h3>Post Title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis asperiores veritatis nemo aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt autem cumque, saepe sed. Error ipsam temporibus tempora iusto soluta minus qui eum, atque voluptatibus ut numquam nemo cupiditate! Vitae, nam.</p>
		<a href="#" class="btn btn-primary">Read More</a>
	</div>
	<div class="col-md-8">
		<h3>Post Title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis asperiores veritatis nemo aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iste, quas nihil? Sequi nisi voluptatem nostrum earum ipsam dolore autem reiciendis qui amet sed maiores, necessitatibus atque reprehenderit, tempore, nulla?</p>
		<a href="#" class="btn btn-primary">Read More</a>
	</div>
	<div class="col-md-8">
		<h3>Post Title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis asperiores veritatis nemo aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum unde maxime, asperiores quam vitae, illo libero. Reprehenderit praesentium impedit ad, iure architecto officia possimus quae quis voluptate labore at autem.</p>
		<a href="#" class="btn btn-primary">Read More</a>
	</div>
	<div class="col-md-8">
		<h3>Post Title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis asperiores veritatis nemo aut. lorem</p>
		<a href="#" class="btn btn-primary">Read More</a>
	</div>
</div>