{{extend 'layout_institutional.html'}}


{{block navbar}}

    {{include 'navbar-2.html'}}

{{end}}



{{block content}}
    <div class="container-show" style="padding: 0; margin-horizontal:0;">
        <div class="row show-row">
            <div class="col-md-12 show-post-img">
                <img class="img-responsive post-show-image" src="{{=URL('default','download',args=post.picture)}}">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 show-post-content">    
                <h1 class="">{{=post.title}}</h1>
                <h3 class="">{{=post.resume}}</h3>
                <div class="post-content">
                    {{response.write(post.content, escape=False)}}
                </div>
            </div>               
        </div>
    </div>
    
    <div class="row footer">
        <div id="footer" class="col-md-12">
            <h5>I. E. S. de Policía "Gral. José Francisco de San Martín"</h5>  
        </div>
    </div>

{{end}}

{{block script}}

	<script>
		$(document).ready(function(){
            $(".container").css({"margin-left:0","margin-right:0","padding:0"});
			$("body").css({"padding-top":"80px", "margin-left":"0","margin-right":"0"});
			});
			$("row").css({'margin-top':'20px'});
	</script>


{{end}}