{{extend 'layout_institutional.html'}}

{{block navbar}}

    {{include 'navbar-2.html'}}

{{end}}


{{block header}}

	
{{end}}

{{block content}}

	<!-- Page Content -->
    <div class="container">
        
        {{for post in posts:}}
        <div class="row">
            <div class="col-md-3 pull-left post-leftbar hidden-sm hidden-xs">
                <h2 class="date-of-post">{{=post.date_of_post}}</h2>
                <h3>{{=post.resume}}</h3>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{=post.title}}</h1>
                        {{if post.picture == "":}}
                        <img class="img-responsive post-image" src="http://placehold.it/900x300" alt="">
                        {{else:}}
                        <img class="img-responsive post-image" src="{{=URL('default','download',args=post.picture)}}" alt="">
                        {{pass}}
                    </div>
                </div>
                <div class="row">   
                    <div class="col-md-12">
                        <a class="btn btn-primary btn-read-more" href="{{=URL('blog', 'show', args=(post.id))}}">{{=T('Read More')}}</a>                        
                    </div>
                </div>                  
            </div>
        </div>
        {{pass}}
    </div>

        <!-- Footer -->
        <div class="row footer">
            <div id="footer" class="col-md-12">
                <h5>I. E. S. de Policía "Gral. José Francisco de San Martín"</h5>  
            </div>
        </div>
				
{{end}}

{{block script}}
    <script src="{{=URL('static','js/moment-with-locales.js')}}"></script>
	<script>
		$(document).ready(function(){
			$("body").css({'padding-top':'80px'});
			$(".date-of-post").each(function() {
                var date = $(this).html();
                date = moment(date, "YYYY MM DD", "es");
                $(this).html(date.format('DD[-]MM[-]YYYY'))   
                });
            });
	</script>


{{end}}
