<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario de Inscripción de {{=shift.auth_user.last_name + ", " +shift.auth_user.first_name}}</title>

    <link rel="stylesheet" href="{{=URL('static','plugins/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/forms.css')}}">

</head>

<body>
	<br>
	<div class="container">
	{{block container}}
		{{include}}
	{{end}}
	</div>
	<br>
	<div class="row">
		<div class="col-md-10">
			<button class="center-block btn btn-primary" onclick="printPage()">{{=T('Print')}}</button>
		</div>
	</div>
	
	<script>
	function printPage(){
		window.print();
	}
</script>	
</body>