{{extend 'layout_candidate.html'}}

{{block center}}

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel panel-default">
          <div class="panel-body text-center">
            Formulario de Inscripción
          </div>
          <div class="panel-footer">
            <a href="{{=URL('candidate','inscription_form.pdf')}}" target="_blank" class="btn btn-info btn-block">VER</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel panel-default ">
          <div class="panel-body text-center">
            Fórmulario de Exámen Médico
          </div>
          <div class="panel-footer">
            <a href="{{=URL('candidate','medical_exam_form')}}" target="_blank" class="btn btn-info btn-block">VER</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel panel-default">
          <div class="panel-body text-center">
            Fórmulario de Examen Intelectual
          </div>
          <div class="panel-footer">
                    <a href="{{=URL('intellectual_exam','intellectual_form.pdf')}}" target="_blank" class="btn btn-info btn-block">VER</a>
                </div>
        </div>
      </div>
      
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    Fórmulario de Examen Físico
                </div>
                <div class="panel-footer">
                    <a href="{{=URL('candidate','physical_exam_form')}}" target="_blank" class="btn btn-info btn-block">VER</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}

{{block scripts}}

{{end}}


