{{extend 'layout_candidate.html'}}

<div class="container container-fluid">
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12 center-block">
			<div class="panel panel-default">
  				<div class="panel-body">
    				Formulario de Unico de Inscripción para Aspirantes a cadetes de primer año del I.E.S. de Policia "Gral. José F. de San Martín"
  				</div>
  				<div class="panel-footer center-block">
  					<a href="{{=URL('candidate','inscription_form')}}" class="btn btn-info btn-block">VER</a>
  				</div>
  			</div>
  		</div>

  		<div class="col-md-4 col-sm-6 col-xs-12 center-block">
			<div class="panel panel-default">
  				<div class="panel-body">
    				Fórmulario de Exámenes Médicos Clínicos
  				</div>
  				<div class="panel-footer center-block">
            <a href="{{=URL('candidate','medical_exam_form')}}" class="btn btn-info btn-block">VER</a>
  				</div>
  			</div>
  		</div>

  		<div class="col-md-4 col-sm-6 col-xs-12 center-block">
			<div class="panel panel-default">
  				<div class="panel-body">
    				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia assumenda, adipisci necessitatibus provident maiores tempore ullam neque, minus ipsam odit consequuntur tenetur laborum aliquid natus cum. Molestias voluptas, delectus soluta!
  				</div>
  				<div class="panel-footer center-block">
  				<button class="btn btn-info btn-block">Ver</button>
  				</div>
  			</div>
  		</div>
  	</div>
</div>
