{{extend 'layout.html'}}
{{=exams}}
<br><br>
{{=user}}
<br><br>
{{=inscription}}
<link rel="stylesheet" href="{{=URL('static','css/custom.css')}}"/>
<div class="container col-md-8 col-md-offset-2">
  <div class="hidden-xs hidden-sm visible-md visible-lg"><h2>{{=user['last_name'] + ', ' +  user['first_name']}}</h2></div>
  <div class="hidden-lg visible-sm visible-xs"><h4>{{=user['last_name'] + ', ' +  user['first_name']}}</h4></div>
<div><h4>Nro. de Formulario: <strong>{{=inscription['id']}}</strong></h4></div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="">{{=T('Size')}}</h4>
    </div>
    <div class="panel-body">
        {{if(exams==None):}}
            <strong>Ud no tiene examen disponible</strong>
            <blockquote>
              Verifique próximamente para saber sus fechas de examenes.
            </blockquote>
        {{else:}}
        <strong>{{=T('Height')}}:</strong> {{=exams['height']['height']}}  <br>
        <strong>{{=T('Status')}}:</strong> <span class="pass">
          {{if(exams['height']['height'] > 1.70):}}
          APTO
          {{else:}}
          NO APTO
          {{pass}}</span>
        {{pass}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="">{{=T('Intellectual Exam')}}</h4>
    </div>

    <div class="panel-body">
      {{if(exams==None):}}
          <strong>Ud no tiene examen disponible</strong>
          <blockquote>
            Verifique próximamente para saber sus fechas de examenes.
          </blockquote>
      {{else:}}
      <table class="table table-responsive table-bordered table-striped">
        <tr>
          <th>{{=T('Subject:')}}</th>
          <th>{{=T('Grade:')}}</th>
          <th>{{=T('Status:')}}</th>
        </tr>
        <tr>
          <td>{{=T('Spanish')}}</td>
          <td>{{=exams['intellectual_exam']['spanish_language']}}</td>
          <td class="pass">{{=T('Approved')}}</td>
        </tr>
        <tr>
          <td>Historia</td>
          <td>{{=exams['intellectual_exam']['history']}}</td>
          <td class="rejected">{{=T('Disapproved')}}</td>
        </tr>
        <tr>
          <td>Geografia</td>
          <td>{{exams['intellectual_exam']['geography']}}</td>
          <td class="pass">{{=T('Approved')}}</td>
        </tr>
      </table>
        <br>
        <strong>{{=T('Final Status')}}:</strong> <span class="rejected"><strong>{{=T('Rejected')}}</strong></span>
      {{pass}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="">{{=T('Medical Exam')}}</h4>
    </div>
    <div class="panel-body">
      {{if(exams==None):}}
          <strong>Ud no tiene examen disponible</strong>
          <blockquote>
            Verifique próximamente para saber sus fechas de examenes.
          </blockquote>
      {{else:}}
      <address>
          <strong>{{=T('General Clinical Examination')}}</strong><br>
          {{=T('Date')}}: 01/01/2017<br>
          {{=T('Time')}}: 12:15<br>
          {{=T('Location')}}: Hospital Avellaneda<br>
          {{=T('Cost')}}: $2400 <br>
          <strong>{{=T('Documentation to present')}}</strong>
          <ul>
            <li>{{=T('Medical examination form, correctly filled out')}}  Formulario de examen médico, correctamente llenado.</li>
            <li>{{=T('SSN')}}</li>
            <li>Cupón de pago de depósito en el Banco Tucumán Grupo Macro en
              la cuenta número 20098045/2 (Siprosa)</li>
          </ul>
          <p class="text-info">
          El día del exámen desayunar liviano en lo posible con galletitas de agua, 03 horas antes.
            **Observaciones:** No ingerir comidas con elevado contenido graso el día anterior.
          </p>

      </address>

        <button type="button" class="btn btn-primary btn-sm" name="button">Imprimir formulario médico</button>
      {{pass}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="">Aptitud Física</h4>
    </div>
    <div class="panel-body">
      {{if(exams==None):}}
          <strong>Ud no tiene examen disponible</strong>
          <blockquote>
            Verifique próximamente para saber sus fechas de examenes.
          </blockquote>
      {{else:}}
      <button type="button" class="btn btn-primary btn-sm" name="button">Imprimir formulario Aptitud Física</button>
      {{pass}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="">{{=T('Groupal Psychological Interview')}}</h4>
    </div>
    <div class="panel-body">
      {{if(exams==None):}}
          <strong>Ud no tiene examen disponible</strong>
          <blockquote>
            Verifique próximamente para saber sus fechas de examenes.
          </blockquote>
      {{else:}}
        <strong>Estado: </strong> <span style="color:green;">APTO</span>
      {{pass}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="">{{=T('Psychological Interview')}}</h4>
    </div>
    <div class="panel-body">
      {{if(exams==None):}}
          <strong>Ud no tiene examen disponible</strong>
          <blockquote>
            Verifique próximamente para saber sus fechas de examenes.
          </blockquote>
      {{else:}}
      <strong>Estado: </strong> <span style="color:green;">APTO</span>
      {{pass}}
    </div>
  </div>
</div>
