{{extend 'candidate/forms_layout.html'}}



<header>
	<div class="col-container">
  <div class="col">
    <h3>POLICIA DE TUCUMAN</h3>    
  </div>

  <div class="col medical">
    <h5>Instituto de Enseñanza Superior de Policia "GRAL. JOSE DE SAN MARTIN"</h5>
    <h4>Inscripcion N° {{=inscription.id}}</h4>
  </div>

  <div class="col">
    <img src="{{=URL('static','images/logo_ies.png')}}" alt="logo_ies">
  </div>
</div>
</header>
<section class="title">
	<h2>EXAMENES MEDICOS CLINICOS</h2>
</section>

<section class="consentimiento">
	<p>DOY MI CONSENTIMIENTO PARA REALIZAR TODOS LOS ESTUDIOS MEDICOS DEL PRESENTE FORMULARIO</p>
	<p>FIRMA DE CONFORMIDAD:________________________________</p>
	<p><strong>{{=inscription.auth_user.last_name + ', ' + inscription.auth_user.first_name + ' - D.N.I: ' + inscription.auth_user.username}}</strong></p>
</section><br>

<section class="col-container laboratory">
	<div class="col med-examsx3">
		<h4>Exámen de Laboratorio</h4>
		<p>Hematocrito(%):____________</p>
		<p>Leucocitos(x mm2):_________</p>
		<p>Eritrosedimentación(mm2):_________</p>
		<p>Fórmula Leucocitaria:</p>
		<table class="table table-condensed table-bordered">
			<tr>
					<td>C:______</td>
					<td>B:______</td>
				</tr>
				<tr>
					<td>N:______</td>
					<td>L:______</td>
				</tr>
				<tr>
					<td>E:______</td>
					<td>M:______</td>
				</tr>
		</table>
	</div>
	<div class="col med-examsx3">
		<table class="table table-condensed table-bordered">
			<tr>
				<th>V.D.R.L.</th>
				<th>H.I.V.</th>
			</tr>
			<tr>
				<td>Reactiva</td>
				<td>Reactiva</td>
			</tr>
			<tr>
				<td>Reactiva</td>
				<td>Reactiva</td>
			</tr>
		</table>
		<p>Orina (solo lo positivo)</p>
		<p>_____________________</p>
		<p>Gravindex:___________</p>
		<p>creatina(mg/dl):_____</p>
		<p>colesterolemia(mg/dl):______</p>
		<p>Urea(mg/dl):______</p>
	</div>

	<div class="col med-examsx3">
		<h4>CHAGAS</h4>
		<h5>HAI:______</h5>
		<h5>ELISA:______</h5>
		<p>Observaciones:</p>
		<p>_____________________</p>
		<p>_____________________</p>
		<p>_____________________</p>
		<p>_____________________</p>
	</div>
</section><br>
<section class="col-container">
	<div class="col med-exams">
		<h4>Radiografia de Torax</h4><br>
		<ul>
			<li>Normal</li>
			<li>Anormal</li>
		</ul>
	</div>
	<div class="col med-exams">
		<h4>Exámen Otorinolaringologico</h4>
		<p>Observaciones:______________________</p>
		<p>___________________________________</p>
		<p>___________________________________</p>
		<p>___________________________________</p>
	</div>
</section>
<section class="col-container">
	<div class="col med-exams">
		<h4>Exámen Oftalmológico</h4>
		<p>Agudeza Visual:_____</p>
		<p>Sin Corrección: OD:____ OI:____</p>
		<p>_______________________________</p>
		<p>_______________________________</p>
		<p><strong>Visión Cromática</strong></p>
		<ul>
			<li>Normal</li>
			<li>Alterada</li>
		</ul>
	</div>
	<div class="col med-exams">
		<h4>Exámen Cardiovascular</h4>
		<p>Presión Arterial:__________</p>
		<p>Auscultación:______________</p>
		<p>E.C.G:_____________________</p>
		<p>Otros Exámenes:____________</p>
		<p>___________________________</p>
	</div>
</section>

<section class="col-container">
	<div class="col med-examsx3">
		<h4>Exámen Odontológico</h4>
		<br><br><br>
		<ul>
			<li>Normal</li>
			<li>Necesita Atención</li>
		</ul>
	</div>
	<div class="col med-examsx3">
		<h4>Exámen Osteo Articular</h4>
		<p>Anormal:</p>
		<p>Normal:</p>
		<p>Espalda Bífida:</p>
		<p>Lumbarización:</p>
		<p>Pinzamiento:</p>
		<p>Escoliosis:</p>
		<p>Otro:</p>
	</div>
	<div class="col med-examsx3">
		<h4>Exámen Toxicológico</h4>
		<p>Observaciones:__________________</p>
		<p>_______________________________</p>
		<p>_______________________________</p>
		<p>_______________________________</p>

	</div>
</section>