{{extend 'candidate/forms_layout.html'}}


<header>
	<div class="col-container">
  <div class="col">
    <h3>POLICIA DE TUCUMAN</h3>    
  </div>

  <div class="col medical">
    <h5>Instituto de Enseñanza Superior de Policia "GRAL. JOSE DE SAN MARTIN"</h5>
    <h4>Inscripcion N° {{=inscription.id}}</h4>
  </div>

  <div class="col">
    <img src="{{=URL('static','images/logo_ies.png')}}" alt="logo_ies">
  </div>
</div>
</header>

<section class="title">
	<h2>FORMULARIO DE PRUEBAS DE APTITUD FISICA</h2>
</section>

<section class="personal-data">
	<p>Apellido y Nombres: <strong>{{=inscription.auth_user.last_name + ', ' + inscription.auth_user.first_name}}</strong></p>
	<p>DNI: <strong>{{=inscription.auth_user.username}}</strong> &emsp; Fecha de Nacimiento: <strong>{{=inscription.auth_user.birth_date}}</strong> </p>
	<p>San Miguel de Tucumán, ....................................................................................</p><br><br>
	<p>Firma del Aspirante:........................................&emsp;&emsp; Firma Autoridad:.....................................</p>
</section>

<section class="physical-tests">
	<table class="table table-bordered">
		<tr>
			<th>FUERZA FLEXORA DE TRONCO</th>
			<th>FUERZA EXTENSORA DE BRAZOS</th>
			<th>POTENCIA AEROBICA 1500 mts.</th>
			<th>PROMEDIO</th>
		</tr>
		<tr>
			<td>
				<p>N° Real......</p>
				<p>Puntaje......</p>				
			</td>
			<td>
				<p>N° Real......</p>
				<p>Puntaje......</p>
			</td>
			<td>
				<p>N° Real......</p>
				<p>Puntaje......</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class="sign-tests">
					<p>Firma</p>
				</div>
			</td>
			<td>
				<div class="sign-tests">
					<p>Firma</p>
				</div>
			</td>
			<td>
				<div class="sign-tests">
					<p>Firma</p>
				</div>
			</td>
		</tr>
	</table>
</section>