{{extend 'layout_candidate.html'}}

<div class="wrap-form center-block">
	<div class="row">
		<div class="col-md-4 col-sm-10 policia">
			<h2>POLICIA DE TUCUMAN</h2>
		</div>
		<div class="col-md-4 col-sm-10">
			<h5>Instituto de Enseñanza Superior de Policía</h5>
			<h4>"GRAL. JOSÉ DE SAN MARTÍN"</h4>
			<h3 class="inscription">Inscripcion N°</h3>			
		</div>
		<div class="col-md-4 col-sm-10">
			<img src="http://placehold.it/100x100" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<h1 class="form_title">FORMULARIO DE PRUEBAS DE APTITUD FISICA</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<h4>APELLIDO Y NOMBRES:</h4>
			<h4>DNI:..................... FECHA DE NACIMIENTO:.............</h4>
			<h4>EDAD:.................... ESTADO CIVIL:....................</h4>
			<h4>SAN MIGUEL DE TUCUMAN, ....................................</h4>
			
			<h4>FIRMA DEL ASPIRANTE:................ FIRMA AUTORIDAD:..............</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-11 col-lg-offset-1">
			<table class="table table-bordered">
				<tr>
					<th>FUERZA FLEXORA DE TRONCO</th>
					<th>FUERZA EXTENSORA DE BRAZOS</th>
					<th>POTENCIA AEROBICA 1500 mts.</th>
					<th>PROMEDIO</th>
				</tr>
				<tr>
					<td>
						<p>N° Real .....</p>
						<p>Puntaje .....</p>
					</td>
					<td>
						<p>N° Real .....</p>
						<p>Puntaje .....</p>
					</td>
					<td>
						<p>N° Real .....</p>
						<p>Puntaje .....</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="sign">
						FIRMA
						</div>
					</td>
					<td>
						<div class="sign">
						FIRMA
						</div>
					</td>
					<td>
						<div class="sign">
						FIRMA
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div> 
</div><br><br>

<div class="wrap-form center-block">
	<div class="row">
		<div class="col-md-4 col-sm-10 policia">
			<h2>POLICIA DE TUCUMAN</h2>
		</div>
		<div class="col-md-4 col-sm-10">
			<h5>Instituto de Enseñanza Superior de Policía</h5>
			<h4>"GRAL. JOSÉ DE SAN MARTÍN"</h4>
			<h3 class="inscription">Inscripcion N°</h3>			
		</div>
		<div class="col-md-4 col-sm-10">
			<img src="http://placehold.it/100x100" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<h1 class="form_title">FORMULARIO DE PRUEBAS DE APTITUD FISICA</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<h4>APELLIDO Y NOMBRES:</h4>
			<h4>DNI:..................... FECHA DE NACIMIENTO:.............</h4>
			<h4>EDAD:.................... ESTADO CIVIL:....................</h4>
			<h4>SAN MIGUEL DE TUCUMAN, ....................................</h4>
			
			<h4>FIRMA DEL ASPIRANTE:................ FIRMA AUTORIDAD:..............</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-11 col-lg-offset-1">
			<table class="table table-bordered">
				<tr>
					<th>FUERZA FLEXORA DE TRONCO</th>
					<th>FUERZA EXTENSORA DE BRAZOS</th>
					<th>POTENCIA AEROBICA 1500 mts.</th>
					<th>PROMEDIO</th>
				</tr>
				<tr>
					<td>
						<p>N° Real .....</p>
						<p>Puntaje .....</p>
					</td>
					<td>
						<p>N° Real .....</p>
						<p>Puntaje .....</p>
					</td>
					<td>
						<p>N° Real .....</p>
						<p>Puntaje .....</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="sign">
						FIRMA
						</div>
					</td>
					<td>
						<div class="sign">
						FIRMA
						</div>
					</td>
					<td>
						<div class="sign">
						FIRMA
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<button class="btn btn-primary center-block" onclick="printPage()">{{=T('Print')}}</button>

<script>
	function printPage(){
		window.print();
	}
</script>


