{{extend 'candidate/forms_layout.html'}}

<div class="wrap-line">
	<header>
			<div class="logo">
				<div class="logo_ministerio"><img src="{{=URL('static','/images/logoMinisterio.png')}}"></div>
				<div class="logo_ies"><img src="{{=URL('static','/images/logo_ies.png')}}"></div>
			</div>
			<div class="wrap">
				<div class="control-doc">
					<h4>Documentación Controlada</h4>
					<h5>Fecha:</h5>
				</div>
				
				<div class="inscription_number">
					<h3>Formulario Nro: {{=shift.shift.id}}</h3>
					<h3>Turno: {{=shift.shift.shift_date.strftime("%d/%m/%Y")}} {{=shift.shift.shift_time}}</h3>
				</div>
			</div>
	</header>
	<section class="form-title">
			<h4>FORMULARIO ÚNICO DE INSCRIPCIÓN PARA ASPIRANTES A CADETES DE PRIMER AÑO</h4>
			<!-- <h4>DEL IES DE POLICÍA "GRAL. JOSE F. DE SAN MARTÍN"</h4> -->
	</section>
	<section class="candidate-data">
		<table>
			<tr>
				<td>
					<h5>Apellido y Nombre: {{=shift.auth_user.last_name + ', ' + shift.auth_user.first_name}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Carrera: <strong>{{=shift.auth_user.career}}</strong></h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>D.N.I: <strong>{{=shift.auth_user.username}}</strong></h5>
				</td>
				<td>
					<h5 class="right-col-form">Fecha de Nacimiento: {{=shift.auth_user.birth_date.strftime("%d/%m/%Y")}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Genero: {{=shift.auth_user.gender}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Estado Civil: {{=shift.auth_user.marital_status}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Dirección: {{=shift.auth_user.address}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Ciudad: {{=shift.auth_user.city}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Provincia: {{=shift.auth_user.province}}</h5>
				</td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td>
					<h5>Comisaria Jurisdicciónal: {{=shift.auth_user.police_station}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Tel Fijo: {{=shift.auth_user.phone}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Titulo Secundario Expedido por: {{=shift.auth_user.high_school}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Tel. Cel: {{=shift.auth_user.mobile_phone}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Email: {{=shift.auth_user.email}}</h5>
				</td>
			</tr>			
		</table><br>
		<h5>Estatura: ................... (La estatura será completada por personal del IES de Policia Gral. San Martín)</h5>

	</section>

	<section class="">
		<div class="row">
			<div class="sign">
				Firma del aspirante		
			</div>
		</div>
		
	</section>

	<section class="info">
		<div class="">
		<h6>Los datos consignados en este formulario tienen carácter de "Declaración Jurada". La presentación del presente formulario implica conocer y aceptar los términos de la convocatoria y proceso de selección. La presentación de este formulario es de carácter GRATUITO.</h6>
		</div>
	</section>
</div>

<hr>

<div class="wrap-line">
	<header>
			<div class="logo">
				<div class="logo_ministerio"><img src="{{=URL('static','/images/logoMinisterio.png')}}"></div>
				<div class="logo_ies"><img src="{{=URL('static','/images/logo_ies.png')}}"></div>
			</div>
			<div class="wrap">
				<div class="control-doc">
					<h4>Documentación Controlada</h4>
					<h5>Fecha:</h5>
				</div>
				
				<div class="inscription_number">
					<h3>Formulario Nro: {{=shift.shift.id}}</h3>
					<h3>Turno: {{=shift.shift.shift_date.strftime("%d/%m/%Y")}} {{=shift.shift.shift_time}}</h3>
				</div>
			</div>
	</header>
	<section class="form-title">
			<h4>FORMULARIO ÚNICO DE INSCRIPCIÓN PARA ASPIRANTES A CADETES DE PRIMER AÑO</h4>
			<!-- <h4>DEL IES DE POLICÍA "GRAL. JOSE F. DE SAN MARTÍN"</h4> -->
	</section>
	<section class="candidate-data">
		<table>
			<tr>
				<td>
					<h5>Apellido y Nombre: {{=shift.auth_user.last_name + ', ' + shift.auth_user.first_name}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Carrera: <strong>{{=shift.auth_user.career}}</strong></h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>D.N.I: <strong>{{=shift.auth_user.username}}</strong></h5>
				</td>
				<td>
					<h5 class="right-col-form">Fecha de Nacimiento: {{=shift.auth_user.birth_date.strftime("%d/%m/%Y")}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Genero: {{=shift.auth_user.gender}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Estado Civil: {{=shift.auth_user.marital_status}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Dirección: {{=shift.auth_user.address}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Ciudad: {{=shift.auth_user.city}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Provincia: {{=shift.auth_user.province}}</h5>
				</td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td>
					<h5>Comisaria Jurisdicciónal: {{=shift.auth_user.police_station}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Tel Fijo: {{=shift.auth_user.phone}}</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h5>Titulo Secundario Expedido por: {{=shift.auth_user.high_school}}</h5>
				</td>
				<td>
					<h5 class="right-col-form">Tel. Cel: {{=shift.auth_user.mobile_phone}}</h5>
				</td>
			</tr>
			<tr>
				<td><h5>Email: {{=shift.auth_user.email}}</h5></td>
			</tr>			
		</table><br>
		<h5>Estatura: ................... (La estatura será completada por personal del IES de Policia Gral. San Martín)</h5>
	</section>

	<section class="">
		<div class="row sign-row">
			<div class="turn">
				
			</div>
			<div class="sign">
				Firma del aspirante		
			</div>
		</div>
		
	</section>

	<section class="info">
		<div class="">
		<h6>Los datos consignados en este formulario tienen carácter de "Declaración Jurada". La presentación del presente formulario implica conocer y aceptar los términos de la convocatoria y proceso de selección. La presentación de este formulario es de carácter GRATUITO.</h6>
		</div>
	</section>
</div>