{{extend 'layout_candidate.html'}}


<div class="container center-block candidate-profile">
    <h2>Laporta Podazza, Luciano</h2><br>
	<div class="panel panel-default">
    	<div class="panel-heading text-center">
      		<h4 class="">{{=T('Height Exam')}}</h4>
    	</div>
    	<div class="panel-body">
        	<strong>{{=T('Height')}}:</strong> 1,75  <br>
        	<strong>{{=T('Status')}}:</strong> <span class="pass">APTO</span>        
    	</div>
 	</div>

 	<div class="panel panel-default">
    	<div class="panel-heading text-center">
      		<h4 class="">{{=T('Intellectual Exam')}}</h4>
    	</div>
    	<div class="panel-body">
        	<table class="table table-bordered table-responsive table-hover">
        		<tr>
        			<th>Subject</th>
        			<th>Qualification</th>
        		</tr>
        		<tr>
        			<td>Spanish Language</td>
        			<td>7</td>
        		</tr>
        		<tr>
        			<td>History</td>
        			<td>6</td>
        		</tr>
        		<tr>
        			<td>Geography</td>
        			<td>7</td>
        		</tr>
        	</table>
        	<span>Status: <strong>PASS</strong></span>  
    	</div>
    </div>

    <div class="panel panel-default">
    	<div class="panel-heading text-center">
      	    <h4 class="">{{=T('Medical Exam')}}</h4>
        </div>
    	<div class="panel-body">
            <span>Status: <strong>PASS</strong></span>  
    	</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4 class="">{{=T('Physical Exam')}}</h4>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <th>Subject</th>
                    <th>Qualification</th>
                </tr>
                <tr>
                    <td>ABS Test</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Aerobics</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Arms</td>
                    <td>7</td>
                </tr>
            </table>
            <span>Status: <strong>PASS</strong></span>  
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4 class="">{{=T('Groupal Psychological Examination')}}</h4>
        </div>
        <div class="panel-body">
            <span>Status: <strong>PASS</strong></span>  
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4 class="">{{=T('Psychological Interview')}}</h4>
        </div>
        <div class="panel-body">
            <span>Status: <strong>PASS</strong></span>  
        </div>
    </div>
   
</div>